.item-candidate {
    padding: 12px 16px;
    display: flex;
    gap: 12px;
    border-radius: 12px;
    box-shadow: 1px 1px 5px #e7e7ed;
    // height: 148px;
    cursor: pointer;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.15));
    background: #ffffff;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:hover {
        background-color: #e7e7ed;
    }

    .wrap-img_candidate {
        // height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        // flex: 2;
        border-radius: 12px;
        min-width: 120px;
        // box-shadow: 1px 1px 5px #Ccc;
        // border: 1px solid #ccc;

        .img-candidate {
            width: 76px;
            min-height: 76px;
            height: 76px;
            object-fit: cover;
            border-radius: 4px;
            filter: blur(3px);

            @media screen and (max-width: 350px) {
                width: 118px;
            }
        }

        .wrap-name-age {
            display: flex;
            align-items: center;
            gap: 8px;
            flex-direction: column;

            .wrap-name-age_item {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                color: #575757;

                .icon-age_item-candidate {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .info-candidate {
        // flex: 3;
        display: flex;
        flex-direction: column;
        gap: 12px;
        // width: 100%;
        max-width: 200px;

        .info-candidate_item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                word-break: break-all;
                white-space: nowrap;
                width: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #000000;
                font-size: 16px;
                font-weight: 700;

                @media screen and (max-width: 1080px) and (min-width: 780px) {
                    width: 200px;
                }

                @media screen and (max-width: 779px) and (min-width: 600px) {
                    width: 300px;
                }

                @media screen and (max-width: 400px) and (min-width: 599px) {
                    width: 110px;
                }

                @media screen and (max-width: 399px) {
                    width: 100px;
                }
            }
        }

        h3 {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 8px;

            li {
                list-style: none;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 1rem;
                display: flex;
                align-items: center;
                gap: 8px;
                flex-wrap: nowrap;
                word-break: break-all;

                .item-infoUser {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    span {}
                }


                .icon-info-candidate {
                    display: flex;
                    align-items: center;
                }

                .text-info-candidate {
                    // display: inline-block;
                    white-space: nowrap;
                    width: 200px;
                    word-break: break-all;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #575757;
                    font-size: 12px;
                    font-weight: 400;

                    @media screen and (max-width: 780px) and (min-width: 600px) {
                        width: 160px;
                    }

                    @media screen and (max-width: 1079px) and (min-width: 781px) {
                        width: 200px;
                    }

                    @media screen and (max-width: 400px) {
                        width: 100px;
                    }

                    @media screen and (max-width: 370px) {
                        width: 42px;
                    }

                    @media screen and (max-width: 320px) {
                        width: 42px;
                    }
                }
            }
        }
    }
}