@import "../../../scss/mixins";
@import "../../../scss/variable";

.post-button-responsive {
    display: none;
    width: 60px !important;
    height: 60px !important;
    position: fixed;
    right: 24px;
    bottom: 130px;
    // z-index: 2;
    background-color: $primary-color;
    z-index: 5;
    @include breakpoint(mobile) {
        display: block;
        bottom: 130px !important;

    }


    @media screen and (min-height: 431px) and (max-width: 599px) {
        display: block;
        bottom: 130px !important;

        
    }

    .anticon {
        transform: scale(1.8) !important;
    }
}