@import '../../../../scss/mixins';
.test {
  display: flex;
  align-items: center;
  flex-direction: column;
  .img-category {
    @include breakpoint(mobile) {
      height: 30px !important ;
      width: 30px !important;
    }
  }
}
