@import '../../../scss//mixins';

.MuiPaginationItem-root.Mui-selected {
  background-color: #0d99ff !important  ;
  color: white;
  &:hover {
    background-color: #0d99ff;
    color: white;
  }
}
.MuiButtonBase-root:hover {
  background-color: rgba(0, 0, 0, 0.1);
  //color: white;
}
.MuiPaper-root {
  border: 0px;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.15));

  box-shadow: none;
  height: 100%;
}
.MuiImageListItem-img {
  @include breakpoint(mobile) {
    max-height: 120px !important;
    max-width: 90px;
  }
}
.MuiTypography-root {
  @include breakpoint(mobile) {
    font-size: 12px !important;
    color: #575757;
  }
}
.MuiTypography-h6 {
  @include breakpoint(mobile) {
    font-size: 13px;
  }
}
.div-cart-item-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.icon-cart-item-post {
  color: #575757;
  margin-right: 5px;
  font-size: 15px;
}
.MuiTypography-h1 {
  font-size: 16px !important;
  @include breakpoint(mobile) {
    font-size: 12px !important;
  }
  color: #575757;
}
.div-hover-more {
  border-radius: 5px;
  height: 30px;
  padding: 0px 10px;
  cursor: pointer;
  &:hover {
    background-color: #575757;
    color: white;
    p {
      color: white;
    }
  }
  p {
    color: #575757;
  }
}
