.MuiPaper-root {
  height: auto;
}

.wrapModalBirth {
  display: flex;
  flex-direction: column;

  input {
    padding: 8px;
  }
}

.Modal-personnal-info {
  @media screen and (max-width: 375px) {
    height: 435px;
    overflow-y: scroll;
  }
}