.MuiPaper-root {
  height: auto;
}

.wrapModalBirth {
  display: flex;
  flex-direction: column;

  input {
    padding: 8px;
  }
}

.Modal-personnal-info {
  @media screen and (max-width: 375px) {
    height: 435px;
    overflow-y: scroll;
  }
}

.modal-person {


  .wrap-noti_input {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    .helper-text {
      color: red;
      font-size: 12px;
    }
  
    .number-text {
      font-size: 14px;
      color: #aaa;
    }
  }
}