@import '../../../scss//mixins';

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #0d99ff;
  color: white;

  &:hover {
    background-color: #0d99ff;
    color: white;
  }
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root:hover {
  background-color: rgba(0, 0, 0, 0.1);
  //color: white;
}

.MuiPaper-root {
  border: 0px;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.15));
  border-radius: 10px;
  box-shadow: none;
}

.div-cart-item-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 340px;
}

.icon-cart-item-post {
  color: #575757;
  margin-right: 5px;
  font-size: 15px;
}

.css-1qcklku-MuiImageListItem-root .MuiImageListItem-img {
  // min-width: 120px !important;
  // max-height: 120px !important;
  width: 120px !important;
  height: 120px !important;
  object-fit: cover;
  border-radius: 12px;

  @include breakpoint(mobile) {
    // max-width: 90px !important;
    // max-height: 90px !important;
    width: 90px !important;
    height: 120px !important;
  }
}

.div-hover-more-suggest-job {
  padding: 0;

  .ant-space-item {
    width: 100%;
    justify-content: center;

    .more-job {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #0D99FF;
      gap: 8px;
      cursor: pointer;

      button {
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        background-color: #fff;
        color: #0D99FF;
        font-size: 16px;
        cursor: pointer;

        p {
          // width: 84px;
          margin-right: 12px;
        }
      }

    }

  }
}



#box-suggestedJob {
  .suggest-job-not-loging {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .suggest-job-not-loging_left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      h3 {
        color: #252525;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 8px;
        /* 125% */
      }

      p {
        color: #000000;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: auto;
        /* 150% */
      }
    }

    .suggest-job-not-loging_right {
      display: flex;
      align-items: center;

      .ant-btn {
        padding: 12px 24px;
        gap: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        flex-shrink: 0;
        border-radius: 37px;
        background: rgba(37, 37, 37, 1);
        transition: all 0.3 linear;

        // margin-top: 8px;
        &:hover {
          transform: scale(1.1);
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }


  }

  @include breakpoint(mobile) {
    .suggest-job-not-loging {
      flex-direction: column;
      align-items: flex-start;

      .suggest-job-not-loging_left {
        margin: 6px 0;
      }

      .suggest-job-not-loging_right {
        margin-bottom: 12px;
      }
    }
  }


  @include breakpoint(tablet) {
    .suggest-job-not-loging {
      flex-direction: column;
      align-items: flex-start;

      .suggest-job-not-loging_left {
        margin: 6px 0;

        h3 {
          margin-bottom: 8px;

        }
      }
    }
  }
}