.container_loca {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 24px;
    align-items: center;

    .container_loca_div {
        display: flex;
        flex-direction: column;
        gap: 4px;

        justify-content: center;

        .div_loca {

            &_title {
                font-weight: 600;
                font-size: 24px;
            }

            &_content {
                font-size: 16px;
                color: #575757;
            }
        }

    }

    .icon_loca {
        cursor: pointer;
        display: grid;
        place-items: center;
    }
}