.modal-activity-container {
    .activity-time-wraper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.modal-actProfile {
    .wrap-noti_input {
        margin-top: 4px;
    }
}