@import '../../../../scss/variable';
@import '../../../../scss/mixins';

.navbar-post__top {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    width: 620px;
    padding: 12px 23.5px;
    border-radius: 20px;
  }

  .navPost-search {
    background-color: $primary-color;
    margin: 10px;
    color: $white;
  }
  .navPost-search,
  .navPost-filter {
    padding: 12px 22px;
    border-radius: 20px;
    min-width: 136px;
    border: 1px solid $text-color;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    padding-left: 8px;
  }
}

.navbar-post__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;

  .navBox-location {
    border: 1px solid $text-color;
    flex: 1;
    position: relative;
    z-index: 1;
    .suvnav-locations {
      position: absolute;
      //   bottom: 100%;
      top: 100%;
      margin-top: 24px;
      left: 0px;
      background-color: $white;
      z-index: 2;
      width: 451px;
      border-radius: 20px;
      padding: 24px;
      box-shadow: 1px 1px 5px $text-color;
      h2 {
        text-align: center;
      }
      .suvnav-location {
        padding: 10px;
        border: 1px solid $text-color;

        overflow-y: scroll;
        height: 300px;
        ul {
          .suv-location__heading {
            color: $primary-color;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px;
            cursor: pointer;
            &:hover {
              background-color: $btn-hover-dark;
              transition: all 0.3s linear;
            }

            .icon-subnav {
              font-size: 24px;
            }
          }
          li {
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 8px 12px;
            cursor: pointer;
            &:hover {
              background-color: $btn-hover;
              transition: all 0.3s linear;
            }
          }
        }
      }
    }
  }

  .navBox-career {
    flex: 1;
    border: 1px solid $text-color;
    margin: 0 20px;
  }

  .navBox-salary {
    flex: 1;
    border: 1px solid $text-color;
  }
  .navBox-bottom {
    display: flex;
    align-items: center;
    padding: 13.2px 12px;
    border-radius: 10px;
  }

  span {
    padding-left: 8px;
  }
}
