.inputTypeSalary {
  width: 100% !important;
}

.type-salary.ant-select-item-option-active {
  background-color: white !important;
}

// .input-filter_nav {
  // margin-top: 12px;
// }

.title-modal_createKey {
  text-align: center;
  font-size: 24px;
}



.title-modal_createKeySuccess {
  text-align: center;
  font-size: 24px;
}