.item-post {
  .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #0d99ff;
    color: white;
    &:hover {
      background-color: #0d99ff;
      color: white;
    }
  }
  .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root:hover {
    background-color: rgba(0, 0, 0, 0.1);
    //color: white;
  }
  .css-1hkvfnl-MuiPaper-root-MuiCard-root {
    border: 0px;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    box-shadow: none;
  }
}
