.tabs {
  display: flex;
  align-items: center;
  .MuiTabScrollButton-horizontal {
  }

  .MuiTabs-scrollButtons {
    display: flex;
    align-items: center;
    svg {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-size: 50px;
      border: 1px solid #ccc;
    }
  }
}
.home {
  .css-6uhm6c {
    @media screen and (min-width: 600px) and (max-width: 1200px) {
      max-width: 100%;
      margin: 0px 10px;
    }
  }
  .css-1kh7r7o {
    @media screen and (min-width: 600px) {
      max-width: 100%;
    }
  }
  .css-8hgn5 {
    @media screen and (min-width: 600px) and (max-width: 1200px) {
      max-width: 100%;
      margin: 0px 10px;
    }
  }
}
