.reference-item-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .div-item-left {
        max-width: 90%;
    }

    .div-item-right {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}