.message-page {
  margin-top: 70px;
  .message-page_main {
    padding: 20px 180px 0 180px;
    margin: 12px auto;

    .header-message {
      display: flex;
      align-items: center;
    }

    .wrap-content_message {
      display: flex;
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      height: 100%;
      margin-top: 12px;
      .message-page_left {
        flex: 2;
      }

      .message-page_right {
        flex: 4;
      }
    }
  }
}
