@import '../../scss/mixins';
@import '../../scss/variable';

.message-page {
  // margin-top: 70px;
  height: 100vh;

  .message-page_main {
    // padding: 20px 180px;
    max-width: 1080px;
    margin: 0 auto;
    padding: 70px 24px 24px !important;
    height: 100%;

    
    @media screen and (min-width:1025px) and (max-width: 1280px) {
      padding-inline: 24px 24px;
    }

    @include breakpoint(largeTablet) {
      padding: 24px 24px;
    }


    @include breakpoint(tablet) {
      padding: 20px 20px;
      height: calc(100vh - 70px);
    }

    @include breakpoint(mobile) {
      padding: 20px 20px;
      display: none;
    }

    // @media screen and (max-width: 555px) {
    //   display: none;
    // }

    .header-message {
      display: flex;
      align-items: center;
    }

    .wrap-content_message {
      display: flex;
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      height: 760px;
      height: calc(95vh - 70px);
      // margin-top: 12px;
      // margin-bottom: 24px;

      .message-page_left {
        // flex: 2;
        height: 100%;
        width: 35%;

        @include breakpoint(tablet) {
          width: 50%;
        }
      }

      .message-page_right {
        // flex: 4;
        height: 100%;
        width: 65%;

        @include breakpoint(mobile) {
          display: none !important;
        }
      }
    }
  }

  .message-page-main_responsive {
    display: none;
    padding: 10px;
    margin: 12px auto;
    padding-top: 70px !important;
    height: 100%;

    @include breakpoint(mobile) {
      display: block;
      margin: 0;
      padding: 0;

      .wrap-content-message_responsive {
        display: flex;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        height: 540px;
        margin-top: 12px;
        @include breakpoint(mobile){
          // height: calc(100vh - 70px);
          // margin: 0;
          
        }

        .message-page-left_responsive {
          height: 100%;
          width: 100%;
        }

        .message-page-right_responsive {
          display: none;
        }
      }
    }

    @media screen and (max-width: 555px) {
      display: block;
      margin: 0;
      padding: 0;

      .wrap-content-message_responsive {
        display: flex;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        // height: 540px;
        margin-top: 12px;
        margin: 0;
        height: calc(100vh - 70px);
        // height: 360px;

        .message-page-left_responsive {
          height: 100%;
          width: 100%;
        }

        .message-page-right_responsive {
          display: none;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: ccc;
  border-radius: 20px;
  border: 100px solid #1b87f5;
}