.comunity-container {
    margin-top: 70px;

    .comunity-content {
        padding: 50px 180px;
        margin: 0 auto;
        transition: all l;
        margin-bottom: 36px;
        // 
        display: flex;
        align-items: center;
        justify-content: center;
        // .comunityNew {

        // }
        @media screen and (min-width: 767px) and (max-width: 1219px) {
            padding: 50px 24px;
        }

        @media screen and (max-width: 768px) {
            padding: 50px 24px;
        }

        .comunity-detail_post {
            width: 100%;

            .title-comunity {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media screen and (max-width:600px) {
                    flex-direction: column;
                }

                h3 {
                    color: #000;
                    font-family: Roboto;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px;
                    word-break: break-all;

                    @media screen and (max-width:600px) {
                        width: 100%;
                        text-align: left;
                    }
                }

                .title-comunity_icon {
                    display: flex;
                    gap: 12px;

                    @media screen and (max-width:600px) {
                        width: 100%;
                        justify-content: flex-end;
                    }

                    span {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        cursor: pointer;
                    }
                }
            }


            .comunityDetail-wrap_content {
                // border: 1px solid #ccc;
                padding: 12px 24px;
                border-radius: 12px;
                margin: 24px 0;

                .comunityDetail-content {
                    // display: flex;
                    // h3 {
                    //     color: #001424;
                    //     font-family: Roboto;
                    //     font-size: 20px;
                    //     font-style: normal;
                    //     font-weight: 700;
                    //     line-height: 24px; 
                    // }

                    div {
                        word-break: break-word;
                        // li {
                        //     margin-left: 16px;
                        // }
                    }

                    .comunityDetail-content_info {
                        padding: 12px 0;
                        border-bottom: 1px solid #ccc;


                    }

                }

                .comunityDetail-wrap_actor {}
            }

            .comunityDetail-wrap_img {
                border-radius: 12px;

                img {
                    border-radius: 12px;
                }
            }

            .comunityDetail-wrap_status {
                display: flex;
                padding: 12px 0;
                border-bottom: 1px solid #ccc;
                gap: 30px;

                .comunitypostNew-status_item {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    p {
                        margin-left: 8px;
                    }

                    svg {
                        color: #ffffff;
                        stroke: #575757;
                    }
                }

                .liked {
                    svg {
                        color: #0d99ff;
                        stroke: #ffffff;
                    }
                }
            }

            .comunityDetail-wrap_actor {
                display: flex;
                padding: 12px 0;
                // align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #ccc;

                .comunityDetail-wrap {
                    display: flex;
                    align-items: center;

                    img {
                        width: 50px;
                        height: 50px;
                        // border-radius: 10px;
                        border-radius: 50%;

                    }
                }

                .info-actor_comunityDetail {
                    margin-left: 12px;

                    p {
                        &:nth-child(1) {
                            color: #575757;
                            font-family: Roboto;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 18px;
                        }

                        &:nth-child(2) {
                            color: #000000;
                            font-family: Roboto;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 24px;
                        }
                    }
                }
            }

            .comunityDetail-wrap_comment {
                // border: 1px solid;
                margin: 12px 0;

                .comunityDetail-comment_chater {
                    // border: 1px solid red;
                    display: flex;
                    align-items: flex-start;

                    img {
                        border-radius: 50%;

                    }

                    .comunityDetail-comment_chaterInput {
                        display: flex;
                        align-items: center;
                        /* position: relative; */
                        width: 100%;
                        border: 1px solid #aaaaaa;
                        padding: 10px;
                        border-radius: 12px;
                        margin-left: 12px;
                        background-color: #cccccc;
                        flex-direction: column;
                        justify-content: space-between;

                        input {
                            // height: 100%;       
                            width: 100%;
                            outline: none;
                            background: transparent;
                            border: none;
                            min-height: 50px;
                            // border: 1px solid #aaaaaa;
                            // padding: 24px 8px;
                            // border-radius: 12px;
                            // margin-left: 12px;
                            // background-color: #cccccc;
                        }

                        textarea {
                            border: none;
                            outline: none;
                            background: transparent;

                            &:focus {
                                border: none;
                                box-shadow: none;
                            }
                        }

                        .comment-interaction {
                            width: 100%;
                            display: flex;
                            cursor: pointer;
                            justify-content: flex-end;

                            .comment-chaterInput_send {
                                //     position: absolute;
                                // right: 12px;
                                // bottom: 4px;
                                cursor: pointer;

                                svg {
                                    color: #575757;

                                    &:hover {
                                        color: #0d99ff
                                    }

                                    &:active {
                                        transform: translate(0.123rem, 0.125rem);
                                    }
                                }
                            }
                        }



                    }


                }

                .comunityDetail-list_comment {
                    display: flex;
                    flex-direction: column-reverse;

                    .comunityDetail-list_comment__item {
                        display: flex;
                        align-items: flex-start;
                        margin: 12px 0;

                        // border: 1px solid blue;
                        img {
                            border-radius: 50%;
                        }

                        .comunityDetail-comment {
                            margin-left: 12px;
                            background-color: #f1f0f0;
                            border-radius: 8px;
                            display: flex;
                            padding: 8px 12px;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 12px;
                            flex: 1 0 0;
                            align-self: stretch;

                            .comunityDetail-comment_top {
                                display: flex;
                                align-items: center;

                                h3 {
                                    font-family: Roboto;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 24px;
                                }

                                h3:nth-child(2) {
                                    padding: 0 8px;
                                }

                                p {
                                    font-family: Roboto;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 16px;
                                }
                            }

                            .comunityDetail-comment_bottom {
                                p {
                                    word-break: break-all;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}