.filter-new-old-hotjob {
    position: relative;
    width: 100%;

    .filter-input-new-old-hotjob {
        position: absolute;
        z-index: 1;
        top: 12px;
        left: 10px;
    }

    .ant-select {
        .ant-select-selector {
            .ant-select-selection-item {
                margin-left: 20px;
                font-size: 12px;
            }

            .ant-select-selection-placeholder {
                font-size: 12px;
                margin-left: 20px;
            }
        }
    }
}

.filter-wrap-radio_hotjob {
    width: 100%;

    .title-company {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 0;
        border-bottom: 1px solid #eee;

        h3 {}
    }

    .ant-radio-group {
        margin: 12px 0;
    }
}

.ant-select-dropdown:has(#rc_select_6_list) {
    z-index: 8 !important;
}