.Modal-show-cv {

    h3 {
        margin-bottom: 12px;
        text-align: center;
    }

    .react-pdf__Document {
        // overflow-y: scroll;
        // height: 600px;
        display: flex;
        gap: 12px;
        .react-pdf__Page {
            box-shadow: 1px 1px 5px #ccc;

        }
    }
}