.Modal-show-cv {
    .page-cv-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }

    h3 {
        margin-bottom: 12px;
        text-align: center;
    }

    .react-pdf__Document {
        // overflow-y: scroll;
        height: 600px;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 0 -6px;

        @media screen and (max-width: 640px) {

            height: 560px !important;
        }

        @media screen and (max-width: 410px) {
            height: 400px !important;

        }

        .react-pdf__Page {
            // box-shadow: 1px 1px 5px #ccc;

            &:last-child {
                border: none !important;
                border-bottom: 1px solid #ccc !important;
            }

            .react-pdf__Page__canvas {
                border: 1px solid #ccc;

                @media screen and (max-width: 640px) {
                    width: 354px !important;
                    height: 500px !important;
                }

                @media screen and (max-width: 410px) {
                    width: 244px !important;
                    height: 345px !important;
                }

            }

        }
    }
}