@import '../../scss/mixins';

.ant-message {
  z-index: 9999;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .ant-select-tree-treenode {
    width: 100%;
  }

  .footer-right {
    @include breakpoint(mobile) {
      margin-top: 0px;
    }
  }

  .container {
    // width: 80%;
    max-width: 1080px;
    margin: 0 100px auto;
    padding: 50px 0px;
    margin-top: 100px;

    @include breakpoint(mobile) {
      width: 95%;
      padding: 0px;
    }

    @include breakpoint(tablet) {
      width: 95%;
      padding: 0px;
    }


    @media screen and (max-width: 1120px) {
      padding: 50px 24px;
    }

    .div-profile-avatar {
      width: 100%;

      .div-avatar {}
    }

    .div-avatar {
      // display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between;

      .div-avatar_profile {
        display: flex;
        // flex-direction: row;
        align-items: center;

        @include breakpoint(mobile) {
          // align-items: flex-start;
        }

        @include breakpoint(tablet) {
          align-items: flex-start;
        }

        @media screen and (max-width: 330px) {
          flex-direction: column;

          .user-company {
            margin-left: 0px !important;
            align-items: center;
          }
        }

        .user-company {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 100%;

          .wrap-company {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include breakpoint(mobile) {
              flex-direction: column;
              justify-content: flex-end;
              align-items: flex-end;

              .wrap-company_info {
                width: 100%;
                margin-bottom: 8px;
              }

            }

            @include breakpoint(tablet) {
              flex-direction: column;
              justify-content: flex-end;
              align-items: flex-end;

              .wrap-company_info {
                width: 100%;
                margin-bottom: 8px;
              }
            }

            .wrap-company_info {
              display: flex;
              justify-content: space-between;

              h2:nth-child(2) {
                margin: 0 24px;
                background: #252525;
                // font-weight: 100;
                width: 4px;
              }

              h2 {
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
              }
            }

            button {
              padding: 12px 24px;
              display: flex;
              align-items: center;
              border-radius: 20px;
              border-radius: 37px;
              background: #252525;
              height: 48px;
              gap: 8px;
            }
          }

          .company-name {
            color: rgba(189, 49, 49, 1);
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            text-decoration-line: underline;
            cursor: pointer;
          }

          .have-company {
            color: #0D99FF;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            text-decoration-line: underline;
            cursor: pointer;
          }
        }
      }
    }

    .div-profile-info {
      width: 100%;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 10px;
      margin-top: 30px;
      padding: 15px 20px;


      @media screen and (max-width: 360px) {
        .cv-input-container {
          width: 100%;

          .ant-space-item {
            width: 100%;

            button {
              width: 100% !important;
            }
          }
        }
      }

      .section-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 16px;

        @include breakpoint(mobile) {
          flex-direction: column;
        }
      }

      h3 {
        color: #001424;
      }

      .info-detail {
        display: flex;
        flex-direction: row;

        .div-detail-row {
          display: flex;
          flex-direction: column;
          margin-top: 10px;
        }

        .left {
          p {
            color: #575757;
            font-size: 16px;
            margin-top: 7px;
          }
        }

        .right {
          margin-left: 15px;

          p {
            font-size: 16px;
            margin-top: 7px;
            word-break: break-all;
          }
        }
      }

      .item-info-work {
        margin-top: 20px;

        .btn {
          border: 0.5px solid #aaaaaa;
          border-radius: 10px;
          height: 42px;
        }
      }

      .skill-list,
      .language-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .internship-list {
        display: flex;
        flex-direction: column;
      }

      .hobbie-input {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .donot-show {
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: space-between;
      }

      .section-item {
        display: flex;
        align-items: center;
        gap: 16px;
        cursor: pointer;

        svg {
          color: #0D99FF;
        }
      }

      .disable {
        cursor: no-drop;
        pointer-events: none;

        h3 {

          color: #AAAAAA !important;
        }

        svg {
          color: #AAAAAA;
        }
      }

      .profile-info-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;

        .profile-info-title_actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 8px;

          .edit-icon {
            cursor: pointer;

            svg {
              color: #AAAAAA;
            }

            &:hover {
              svg {
                color: #0D99FF;
              }
            }
          }

          .delete-icon {
            cursor: pointer;

            svg {
              color: #AAAAAA;
            }

            &:hover {
              svg {
                color: red;
              }
            }
          }
        }
      }
    }
  }

}

.color-asterisk {
  color: red;
}

.skeleton-item {
  margin-bottom: 20px;
}