@import '../../scss/mixins';

.ant-message {
  z-index: 9999;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .ant-select-tree-treenode {
    width: 100%;
  }

  .footer-right {
    @include breakpoint(mobile) {
      margin-top: 0px;
    }
  }

  .containerProfile {
    // width: 80%;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    // margin: 0 100px auto;
    // padding: 24px 0px 50px 0px;
    // margin-top: 100px;
    // margin-top: 116px;

    // @include breakpoint(mobile) {
    //   width: 95%;
    //   padding: 0px;
    // }

    // @include breakpoint(tablet) {
    //   width: 95%;
    //   padding: 0px;
    // }


    // @media screen and (max-width: 1120px) {
    //   padding: 24px 24px 50px 24px;
    // }

    // @media screen and (max-width: 678px) {
    //   padding: 24px 24px 12px 24px;
    // }

    // @media screen and (max-width: 1120px) {
    //   padding: 0px 24px 50px 24px;
    // }

    .div-profile-avatar {
      width: 100%;
    }

    .div-avatar {
      // display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between;

      .div-avatar_profile {
        display: flex;
        // flex-direction: row;
        align-items: center;

        @include breakpoint(mobile) {
          // align-items: flex-start;
        }

        @include breakpoint(tablet) {
          // align-items: flex-start;
        }

        @media screen and (max-width:575px) {
          flex-wrap: wrap;
          justify-content: center;
          gap: 8px;

          .user-company {
            margin-left: 0px !important;
          }
        }

        @media screen and (max-width: 330px) {
          flex-direction: column;

          .user-company {
            margin-left: 0px !important;
            align-items: center;
          }
        }

        .user-company {
          display: flex;
          // flex-direction: column;
          gap: 8px;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;

          @include breakpoint(mobile) {
            justify-content: center;
          }

          .wrap-company {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include breakpoint(mobile) {
              flex-direction: column;
              justify-content: flex-end;
              align-items: flex-end;

              .wrap-company_info {
                width: 100%;
                margin-bottom: 8px;

                h2 {
                  font-size: 14px;
                }
              }

            }

            @include breakpoint(tablet) {
              flex-direction: column;
              justify-content: flex-end;
              align-items: flex-end;

              .wrap-company_info {
                width: 100%;
                margin-bottom: 8px;
              }
            }

            .wrap-company_info {
              display: flex;
              justify-content: space-between;

              h2:nth-child(2) {
                margin: 0 24px;
                background: #252525;
                // font-weight: 100;
                width: 4px;
              }

              h2 {
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
              }
            }

            button {
              padding: 12px 24px;
              display: flex;
              align-items: center;
              border-radius: 20px;
              border-radius: 37px;
              background: #252525;
              height: 48px;
              gap: 8px;

              span {
                font-size: 14px;
              }
            }
          }

          .company-name {
            color: rgba(189, 49, 49, 1);
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            text-decoration-line: underline;
            cursor: pointer;
          }

          .have-company {
            color: #0D99FF;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            text-decoration-line: underline;
            cursor: pointer;
          }
        }
      }
    }

    .div-profile-info {
      width: 100%;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 10px;
      margin-top: 30px;
      padding: 15px 20px;

      .ant-space-item {
        p {
          font-size: 14px;
        }

        button {
          span {
            font-size: 14px;
          }
        }
      }

      .list-cv-container {
        margin-top: 16px;
        width: 100%;
        padding-left: 1px;

        .list-cv-conttent {
          width: 100%;

          .list-cv-swiper {
            margin-top: 12px;

            .swiper-wrapper {
              margin-bottom: 12px;

              .swiper-slide {
                box-shadow: 1px 1px 5px #bbb;
                cursor: pointer;
                width: 186px !important;
                height: 300px !important;

                .slide-item {
                  position: relative;
                  height: 300px !important;


                  .MuiAvatar-root {
                    width: 186px !important;
                    height: 263px !important;
                    border: 1px solid #000;
                    position: relative;



                    img {
                      width: 186px !important;
                      height: 263px !important;
                    }
                  }

                  .slide-item-bottom {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-between;
                    gap: 19px;
                    padding: 0 10px;

                    h3 {
                      font-family: Roboto;
                      font-size: 14px;
                      font-weight: 500;
                      letter-spacing: 0em;
                      word-break: break-all;
                      width: 120px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }

                    .download-cv-icon {
                      width: 24px;
                      height: 24px;
                      cursor: pointer;
                      background-color: #AAAAAA;
                      color: #000;
                      border-radius: 50%;
                      display: grid;
                      place-items: center;
                      transition: background-color 200ms linear 100ms,
                        color 200ms linear 100ms;

                      &:hover {
                        background-color: #0D99FF;
                        color: #FFFFFF
                      }
                    }
                  }

                  .wrap-img_cv {
                    position: relative;
                    margin-bottom: 4px;

                    &:hover {
                      .choose-cv-container {
                        visibility: visible !important;
                      }

                      .warp-img {

                        &::before {
                          content: "";
                          color: #fff;

                        }

                        transition: 0.1s linear all;
                        // background-color: rgba(0, 0, 0, 0.3);
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(138, 138, 138, 0.5) 50%);
                      }
                    }

                    .warp-img {
                      position: absolute;
                      top: 0;
                      right: 0;
                      left: 0;
                      bottom: 0;
                      background-color: transparent;
                      display: flex;
                      align-items: center;
                      justify-content: center;

                    }

                    .choose-cv-container {
                      // width: 40px;
                      // height: 40px;
                      width: 100%;

                      position: absolute;
                      top: 10px;
                      right: 0;
                      border-top-right-radius: 4px;
                      background-color: transparent;
                      display: grid;
                      place-items: center;
                      z-index: 100;
                      // visibility: hidden;
                      // .choose-cv-content {
                      //   width: 24px;
                      //   height: 24px;
                      //   display: grid;
                      //   place-items: center;
                      //   border-radius: 50%;
                      //   border: 1px solid #000000;
                      //   background-color: #FFFFFF;
                      // }

                      .checked {
                        background-color: #0D99FF;
                        border: none;
                      }

                      .select-cv-defauld {

                        display: flex;
                        justify-content: center;
                        background-color: #ffffff;
                        border-radius: 12px;
                        padding: 4px 8px;
                        align-items: center;

                        .text-cv-default {
                          font-size: 12px;
                          color: #212f3f;

                        }

                        &:hover {
                          background-color: #212f3f;

                          .text-cv-default {
                            font-size: 12px;
                            color: #ffffff;

                          }

                          .text-cv-icon-star {
                            font-size: 12px;
                            color: #ff0;

                          }
                        }
                      }

                      .select-cv-defauld.cv-default {
                        background-color: #212f3f;
                      }
                    }

                  }

                  .wrap-img_cv.check-hover-cv {}
                }
              }
            }

            .swiper-button-prev,
            .swiper-button-next {
              width: 40px !important;
              height: 100% !important;
              top: 0 !important;
              margin-top: 0 !important;
              background-color: transparent;

              &:hover {

                &:after {
                  transform: scale(1.1);
                }

                &:active {
                  &:after {
                    transform: scale(0.8);
                  }
                }
              }

              &:after {
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 50%;
                color: #000;
                font-size: 18px;
                height: 30px;
                width: 10px;
                line-height: 30px;
                padding: 0px 10px;
                transition: 0.3s linear all;
              }

              @include breakpoint(mobile) {
                &:after {
                  background-color: #fff;
                  border: 1px solid #ccc;
                  border-radius: 50%;
                  color: #000;
                  font-size: 10px;
                  height: 24px;
                  width: 4px;
                  line-height: 24px;
                  padding: 0px 10px;
                  transition: 0.3s linear all;
                }
              }
            }

            .swiper-button-prev {
              left: 0;
              background: linear-gradient(90deg, #FFFFFF 41.41%, rgba(255, 255, 255, 0.68) 94.4%);

              @include breakpoint(mobile) {
                background: none;
              }

              @include breakpoint(tablet) {
                background: none;
              }
            }

            .swiper-button-next {
              background: linear-gradient(270deg, #FFFFFF 41.41%, rgba(255, 255, 255, 0.68) 94.4%);
              right: 0;

              @include breakpoint(mobile) {
                background: none;
              }

              @include breakpoint(tablet) {
                background: none;
              }
            }

            .swiper-button-disabled {
              display: none !important;
            }
          }
        }
      }

      @media screen and (max-width: 360px) {
        .cv-input-container {
          width: 100%;

          .ant-space-item {
            width: 100%;

            button {
              width: 100% !important;
            }
          }
        }
      }

      .section-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 16px;

        @include breakpoint(mobile) {
          flex-direction: column;
        }
      }

      h3 {
        color: #001424;
        font-size: 14px;
      }

      p {
        font-size: 14px;
      }

      .info-detail {
        display: flex;
        flex-direction: row;

        .div-detail-row {
          display: flex;
          flex-direction: column;
          margin-top: 10px;
        }

        .left {
          p {
            color: #575757;
            font-size: 14px;
            margin-top: 7px;
          }
        }

        .right {
          margin-left: 15px;

          p {
            font-size: 14px;
            margin-top: 7px;
            word-break: break-all;
          }
        }
      }

      .item-info-work {
        margin-top: 20px;

        .btn {
          border: 0.5px solid #aaaaaa;
          border-radius: 10px;
          height: 42px;
        }
      }

      .skill-list,
      .language-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: 14px;
        margin-bottom: 24px;
      }

      .internship-list {
        display: flex;
        flex-direction: column-reverse;
        font-size: 14px;
        margin-bottom: 24px;
        // .internship-item {
        //   .div-item-left  {
        //     .div-info-item {

        //     }
        //   }
        // }
      }

      .hobbie-input {
        display: flex;
        flex-direction: column;
        gap: 16px;

        p {
          font-size: 14px;
        }

        .wrap-noti_input {
          display: flex;
          flex-direction: column;
          gap: 4px;
          .helper-text {
            color: red;
            font-size: 12px;
          }

          .number-text {
            color: #aaa;
            font-size: 16px;
          }
        }
      }

      .donot-show {
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
      }

      .section-item {
        display: flex;
        align-items: center;
        gap: 16px;
        cursor: pointer;

        svg {
          color: #0D99FF;
        }
      }

      .disable {
        cursor: no-drop;
        pointer-events: none;

        h3 {

          color: #AAAAAA !important;
        }

        svg {
          color: #AAAAAA;
        }
      }

      .profile-info-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;

        .profile-info-title_actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 8px;

          .edit-icon {
            cursor: pointer;
            display: grid;
            place-items: center;

            svg {
              color: #AAAAAA;
            }

            &:hover {
              svg {
                color: #0D99FF;
              }
            }
          }

          .delete-icon {
            cursor: pointer;
            display: grid;
            place-items: center;

            svg {
              color: #AAAAAA;
            }

            &:hover {
              svg {
                color: red;
              }
            }
          }
        }
      }
    }
  }

}

.color-asterisk {
  color: red;
}

.skeleton-item {
  margin-bottom: 20px;
}