.back-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;

    .back-button {
        background-color: #000;
        // min-width: none !important;
        // width: 24px !important;
        // height: 24px !important;

        &:hover {
            background-color: #000 !important;
        }
    }
}

// .post-history {
//     .post-history_main {
//         .history-post-content {
//             display: flex !important;
//             max-width: 200px;
//             .history-post_left {
//                 flex: 1 !important;
//             }

//             .history-post_right {
//                 flex: 3 !important;

//             }
//         }
//     }
// }