@import '../../../scss/mixins';

.contentCV-bottom {
    display: flex;
    border-radius: 20px;
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }

    .contentCV-bottom-left {
        flex: 2;
        margin: 24px 4px 24px 24px;
        padding-right: 24px;
        // border-right: 1px solid #000000;
        height: 900px;
        overflow-y: scroll;

        @media screen and (max-width: 1024px) {
            flex: 1;
        }

        @media screen and (max-width: 900px) {
            overflow-y: unset;
            border-right: none;
            margin: 0;
            padding: 24px;
            border-bottom: 1px solid #000000;
        }

        .MuiBox-root {
            .MuiAutocomplete-root {
                margin-top: 0;
            }
        }

        .list-template-swiper {
            display: none;

            @media screen and (max-width: 900px) {
                display: flex;
            }

            .swiper-wrapper {
                .swiper-slide {
                    // width: fit-content !important;
                    // padding: 12px 16px;
                    // height: 230px !important;
                    cursor: pointer;
                    width: 186px !important;
                    height: 263px !important;

                    // &:active {
                    //     border-bottom: 2px solid #0d99ff;
                    // }

                    // &:hover {
                    //     background-color: rgba(0, 0, 0, 0.1);
                    // }

                    .slide-item {
                        position: relative;
                        height: 263px !important;

                        span {
                            width: 186px !important;
                            height: 263px !important;
                            place-items: center;
                            display: grid;

                            img {
                                width: 186px !important;
                                height: 263px !important;
                            }
                        }
                    }
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                width: 40px !important;
                height: 100% !important;
                top: 0 !important;
                margin-top: 0 !important;
                background-color: transparent;

                &:hover {

                    &:after {
                        transform: scale(1.1);
                    }

                    &:active {
                        &:after {
                            transform: scale(0.8);
                        }
                    }
                }

                &:after {
                    background-color: #fff;
                    border: 1px solid #ccc;
                    border-radius: 50%;
                    color: #000;
                    font-size: 18px;
                    height: 30px;
                    width: 10px;
                    line-height: 30px;
                    padding: 0px 10px;
                    transition: 0.3s linear all;
                }

                @include breakpoint(mobile) {
                    &:after {
                        background-color: #fff;
                        border: 1px solid #ccc;
                        border-radius: 50%;
                        color: #000;
                        font-size: 10px;
                        height: 24px;
                        width: 4px;
                        line-height: 24px;
                        padding: 0px 10px;
                        transition: 0.3s linear all;
                    }
                }
            }

            .swiper-button-prev {
                left: 0;
                background: linear-gradient(90deg, #FFFFFF 41.41%, rgba(255, 255, 255, 0.68) 94.4%);

                @include breakpoint(mobile) {
                    background: none;
                }

                @include breakpoint(tablet) {
                    background: none;
                }
            }

            .swiper-button-next {
                background: linear-gradient(270deg, #FFFFFF 41.41%, rgba(255, 255, 255, 0.68) 94.4%);
                right: 0;

                @include breakpoint(mobile) {
                    background: none;
                }

                @include breakpoint(tablet) {
                    background: none;
                }
            }

            .swiper-button-disabled {
                display: none !important;
            }
        }

        .list-template {
            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 17px;

            @media screen and (max-width: 1024px) {
                grid-template-columns: repeat(1, auto);
            }

            @media screen and (max-width: 900px) {
                display: none;
            }

            .template-item {
                cursor: pointer;

                span {
                    width: 100%;
                    height: 263px;
                    place-items: center;
                    display: grid;

                    @media screen and (max-width: 900px) {
                        width: 186px;
                    }
                }
            }
        }
    }

    .contentCV-line {
        width: 1px;
        height: 900px;
        background-color: #000000;


        @media screen and (max-width: 900px) {
            display: none;
        }
    }

    .contentCV-bottom-right {
        // flex: 3;
        height: 900px;
        overflow-y: scroll;
        margin: 24px 4px 24px 24px;
        padding-right: 24px;

        .contentCv-bottom-right_title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
            margin-bottom: 12px;

            .title_left {
                display: flex;
                align-items: center;
                gap: 12px;

                h3 {
                    font-family: Roboto;
                    font-size: 24px;
                    font-weight: 700;
                    letter-spacing: 0em;
                    text-align: left;

                }
            }

            .title_right {
                p {
                    font-family: Roboto;
                    // font-size: 16px;
                    // font-weight: 700;
                    letter-spacing: 0em;
                    text-align: right;
                    color: rgba(61, 173, 255, 1);
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                        transition: 0.3s linear all;
                        color: rgb(26, 158, 253);

                    }
                }
            }
        }

        .contentCv-bottom-right_cv {
            display: flex;
            flex-direction: column;
            gap: 17px;
            align-items: center;
            justify-content: flex-start;

            span {
                width: 595px;
                height: 842px;
                display: grid;
                place-items: center;

                @media screen and (max-width: 710px) {
                    width: 100%;
                }
            }
        }
    }
}