.box-modal_filterTemplate {
    .post_items_old {
        // height: 800px;
        padding: 12px 0px 12px 8px;
        border-radius: 8px;
        border: 1px solid var(--x-4, #DCDCDC);
        overflow-y: scroll;
        height: 330px;

        .post_item_old {
            position: relative;
            border-bottom: 1px solid #DCDCDC;

            &:last-child {
                border-bottom: 0;
            }

            h3 {
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                width: 340px;
                overflow-x: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .wrap-items_postOld {
                li {
                    list-style: none;
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    margin: 4px;

                    span {
                        margin-left: 8px;
                    }
                }
            }

            input {
                position: absolute;
                z-index: 10;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }

    }

    .wrap-button_filterPost {
        display: flex;
        gap: 12px;
        // width: 50%;
        justify-content: center;
        margin-top: 24px;
    }
}