.comunitypostNew-card-wrap_content {
    border: 1px solid #ccc;
    padding: 12px 24px;
    border-radius: 12px;
    margin: 24px 0;
    cursor: pointer;

    .comunityPostNew-card-content {

        // display: flex;
        h3 {
            color: #001424;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
        }

        .comunityPostNew-card-content_info {
            padding: 12px 0;
            border-bottom: 1px solid #ccc;

            .text-content_postNew {
                height: 90px;
                overflow: hidden;

                li {
                    color: #000;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    list-style: none;
                    margin-left: 12px;
                }
            }

            .text-content_postNew.showText {
                height: auto;
                overflow: unset;
            }



            span {
                color: #0d99ff;
                cursor: pointer;
            }
        }

    }

    .comunitypostNew-wrap_status {
        display: flex;
        padding: 12px 0;
        border-bottom: 1px solid #ccc;
        gap: 30px;
        flex-wrap: wrap;

        .status-item {
            display: flex;
            align-items: center;

            p {
                margin-left: 8px;
            }

            svg {
                color: white;
                stroke: #575757;
            }

            &:nth-child(2) {

                svg {
                    // color: #0d99ff;
                    // stroke: white;
                }
            }

        }

        .liked {
            svg {
                color: #0d99ff;
                stroke: #ffffff;
            }
        }
    }

    .comunitypostNew-wrap_actor {
        display: flex;
        padding: 12px 0;
        // align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .comunitypostNew-wrap {
            display: flex;
            align-items: center;

            img {
                width: 50px;
                height: 50px;
                border-radius: 10px;
            }

            .info-actor_comunity {
                margin-left: 12px;

                p {
                    &:nth-child(1) {
                        color: #575757;
                        font-family: Roboto;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                    }

                    &:nth-child(2) {
                        color: #000000;
                        font-family: Roboto;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24px;
                    }
                }

            }
        }

        p {
            color: #575757;
            font-family: Roboto;
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: 24px;
        }


    }
}