@import '../../scss/mixins';

.detail {
  // .actions-features{
  //   display: none;
  // }

  // .navbar__actions{
  //   @include breakpoint(tablet) {
  //     display: none;
  //   }
  //   @include breakpoint(mobile) {
  //     display: none;
  //   }
  // }
  padding-top: 110px;

  .nav {
    &.css-1lmzauf {
      padding: 0 15%;

      @media screen and (max-width: 1834px) and (min-width: 1280px) {
        padding: 0 10%;
      }

      @media screen and (max-width: 1279px) {
        padding: 0 24px;
      }
    }

    .div-nav-right {
      flex: 2
    }
  }

  .container-footer {
    padding: 20px 15% 0;

    @media screen and (max-width: 1834px) and (min-width: 1280px) {
      padding: 20px 10% 0;
    }

    @media screen and (max-width: 1279px) {
      padding: 20px 24px 0;
    }
  }

  #div-policy-footer {
    padding: 10px 15%;

    @media screen and (max-width: 1834px) and (min-width: 1280px) {
      padding: 10px 10%;
    }

    @media screen and (max-width: 1279px) {
      padding: 10px 24px;
    }
  }

  @include breakpoint(tablet) {
    padding-top: 80px;
  }

  @include breakpoint(mobile) {
    padding-top: 80px;
  }

  .div-include-breadcrumb {
    display: flex;
    justify-content: center;

    @include breakpoint(tablet) {
      justify-content: space-evenly;
    }

    @include breakpoint(mobile) {
      justify-content: space-evenly;
    }

    .job-breadcrumb {
      width: 75%;
      // text-align: center;
      margin-bottom: -10px;
      display: flex;
      justify-content: center;

      @include breakpoint(tablet) {
        width: 90% !important;
      }

      @include breakpoint(mobile) {
        width: 90% !important;
      }
    }
  }

  .detail-container {
    display: flex;
    justify-content: center;
    padding: 0 15% 70px;

    @include breakpoint(destop) {
      padding: 0 24px 70px;
    }

    // @media screen and (max-width: 1440px) and (min-width: 1280px) {
    //   padding: 0 20% 70px;
    // }

    @media screen and (max-width: 1834px) and (min-width: 1280px) {
      padding: 0 10% 70px;
    }

    @include breakpoint(largeTablet) {
      padding: 0 24px 70px;
    }

    @include breakpoint(tablet) {
      padding: 0 24px 70px;
    }

    @include breakpoint(mobile) {
      padding: 0 24px 70px;
    }

    .detail-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 25px;
      width: 100%;
      height: 100%;

      h3 {
        color: #001424;
      }

      .title-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 10px;
        width: 100%;

        .top-title {
          width: 100%;
          display: flex;
          /* justify-content: space-between; */
          align-items: center;
          flex-wrap: nowrap;
          column-gap: 10px;

          h2 {
            font-size: 24px;
            font-weight: 700;
            cursor: pointer;
          }

          img {
            width: 32px;
            height: 32px;
          }
        }

        .mid-title {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          flex-wrap: nowrap;
          row-gap: 10px;

          .mid-title_companyName,
          .mid-title_companyAddress {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            column-gap: 10px;
            cursor: pointer;

            h3 {
              font-size: 16px;

              font-weight: 400;
            }

            .clickShow-detailPost {
              color: #0D99FF;
            }
          }
        }

        .bot-title {
          display: flex;
          justify-content: space-between;

          @media screen and (max-width: 320px) {
            flex-direction: column;
            flex-wrap: nowrap;
            row-gap: 10px;
          }

          .bot-title-createdTime {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            column-gap: 10px;

            h3 {
              font-size: 16px;
              color: #AAAAAA;
              font-weight: 400;
            }
          }

          .bot-title-actions {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            column-gap: 16px;

            h3 {
              font-size: 16px;
              font-weight: 400;
              text-decoration: underline;
            }

            .actions-item {
              display: flex;
              align-items: center;
              flex-wrap: nowrap;
              gap: 6px;
              cursor: pointer;

              img {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }

      .img-container {

        display: flex;
        justify-content: space-between;

        @include breakpoint(tablet) {
          flex-direction: column;
          gap: 80px;

        }

        @include breakpoint(mobile) {
          flex-direction: column;
          gap: 50px;
        }

        @include breakpoint(425) {
          flex-direction: column;
          gap: 50px;
        }

        .div-job-img {
          width: 57%;
          border-radius: 8px;
          border: 1px solid #e5e5e5;
          position: relative;
          height: 630px;

          @include breakpoint(tablet) {
            width: 100%;
          }

          @include breakpoint(mobile) {
            width: 100%;
          }

          .div-job-img-swipper {
            height: 100%;
            border-radius: 8px;

            .div-job-img-swipper_item {
              height: 100%;

              img {
                height: 100% !important;
                width: 100% !important;
                object-fit: contain !important;
              }
            }

            .swiper-pagination-fraction {
              position: absolute;
              bottom: 1px;
              z-index: 1;
              /* text-align: center; */
              left: 50%;
              transform: translateX(-50%);
              background: #ccc;
              padding: 4px 8px;
              border-radius: 4px;
            }

            .swiper-button-prev,
            .swiper-button-next {
              width: 40px !important;
              height: 100% !important;
              top: 0 !important;
              margin-top: 0 !important;
              background-color: transparent;

              &:hover {

                &:after {
                  transform: scale(1.1);
                }

                &:active {
                  &:after {
                    transform: scale(0.7);
                  }
                }
              }

              &:after {
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 50%;
                color: #000;
                font-size: 18px;
                height: 30px;
                width: 10px;
                line-height: 30px;
                padding: 0px 10px;
                transition: 0.3s linear all;
              }
            }

            .swiper-button-prev {
              left: 0;
            }

            .swiper-button-next {
              right: 0;
            }

            .swiper-button-disabled {
              display: none !important;
            }
          }

          .div-job-img-swipper_Thumbs {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 50%;
            height: fit-content;
            bottom: 30px;

            .div-job-img-swipper-thumbs_item {
              height: 100px;
              width: 125px;
              border-radius: 16px;
              margin-right: 10px;
              border-radius: 16px;
              border: 3px solid #ffff;

              img {
                border-radius: 13px;
                height: 100% !important;
                width: 100% !important;
              }
            }

            .swiper-slide-thumb-active {
              border: 3px solid #0d99ff;
            }
          }

          .box {

            .carousel-container {
              height: 630px !important;

              @include breakpoint(tablet) {
                height: auto !important;
              }

              @media screen and (max-width: 500px) {
                max-height: 250px !important;
                height: 250px !important;
              }

              .carousel-item {
                .slide-number {
                  top: unset !important;
                  bottom: 0;
                  left: 50%;
                  transform: translateX(-50%);
                  background-color: #A9A9A9;
                  border-radius: 8px;
                  margin-bottom: 10px;
                  color: #ffff !important;
                }

                img {
                  width: 100% !important;
                  border: 1px solid #e5e5e5;
                }
              }

              .prev,
              .next {
                display: none;
                font-size: 18px;
                width: 35px !important;
                height: 35px !important;
                border-radius: 50%;
                text-align: center;
                line-height: 35px;
                border: 1px solid #ccc;
                color: #001424 !important;
                padding: 0 !important;
                margin-left: 7px;
                background: rgba(255, 255, 255, 0.8);

                &:hover {
                  background-color: #ffff;
                  transform: scale(1.1);
                }

                &:active {
                  transform: scale(0.8);
                }
              }

              .next {
                margin-left: unset;
                margin-right: 7px;
              }

              &:hover .prev {
                display: block;
              }

              &:hover .next {
                display: block;
              }

              .carousel-image {
                vertical-align: middle;
                width: 700px;
                height: 630px;

                @include breakpoint(tablet) {
                  width: 750px;
                  height: 100%;
                  max-height: 550px;
                  height: 520px;
                }

                @include breakpoint(mobile) {
                  height: 100%;
                }

                @media screen and (max-width: 500px) {
                  height: 100%;
                }

                @include breakpoint(largeTablet) {
                  width: 520px;
                }

                @include breakpoint(destop) {
                  width: 520px;
                }
              }
            }

            .thumbnails {
              position: sticky;
              justify-content: center;
              margin-top: -20px;

              @media screen and (max-width: 768px) {
                margin-top: -145px;
              }

              @media screen and (max-width: 500px) {
                margin-top: -110px;
              }

              .active-thumbnail {
                border: #0d99ff solid 3px !important;
              }

              .thumbnail {
                margin: 0 5px;
                object-fit: cover;
                height: 100px;
                width: 120px;
                border-radius: 16px;
                border: 2px solid white;

                @include breakpoint(tablet) {
                  height: 100px;
                  width: 120px;
                }

                @include breakpoint(mobile) {
                  height: 100%;
                  width: 100%;
                }

                @media screen and (max-width: 500px) {
                  height: 65px;
                  max-width: 90px;
                }
              }
            }


            @include breakpoint(tablet) {
              width: 100%;
              height: 100%;
            }

            @include breakpoint(mobile) {
              width: 100%;
              height: 100%;
            }
          }
        }

        .div-job-title {
          width: 40%;
          background-color: #f3f8fb;
          padding: 20px 20px;
          border-radius: 10px;
          height: 630px;

          .MuiBox-root {
     
            
              .info-job{
               position: relative;
              }
            
          }

          .MuiTabs-flexContainer {
            .MuiButtonBase-root {
              flex: 1;
              font-size: 16px;
              font-weight: 700;
              color: #000 !important;
            }

            .MuiTabs-indicator {
              background-color: #0D99FF !important;
            }
          }

          // .MuiTabPanel-root:nth-child(2),
          // .MuiTabPanel-root:nth-child(3) {
          //   padding: 12px 0 !important;
          // }

        

          .MuiTabPanel-root {

            // height: calc(100% - 50px);
            padding: 0px 0 !important;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // height: 95%;
            align-content: space-between;
            .job-title-container {
              // height: 430px;
              // overflow-y: scroll;

              .job-title-details {
                display: flex;
                flex-direction: column;
                // height: 90%;
  
                justify-content: space-around;
                @include breakpoint(tablet) {
                  height: 95%;
                  justify-content: space-evenly;
                  max-height: 600px;
                }

                @include breakpoint(mobile) {
                  height: auto;
                }

                .div-detail-row {
                  display: flex;
                  flex-direction: row;
                  margin-top: 10px;

                  p {
                    color: #575757;
                    font-size: 15px;
                    margin-bottom: 5px;
                  }

                  h5 {
                    color: #001424;
                    font-size: 14px;

                    @include breakpoint(tablet) {
                      font-size: 14px;
                    }

                    @include breakpoint(largeTablet) {
                      font-size: 14px;
                    }

                    @include breakpoint(destop) {
                      font-size: 14px;
                    }
                  }
                }

                .div-detail-rowCompany {
                  display: flex;
                  flex-direction: column;
                  margin-top: 10px;

                  .div-detail_descCompany {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    -webkit-line-clamp: 7;
                    /* Số dòng bạn muốn hạn chế */
                    line-clamp: 7;

                  }

                  h3 {
                    color: #001424;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px;

                  }

                  .div-detail-items {
                    margin: 4px 0;

                    .div-detail-titleItem {
                      display: flex;
                      align-items: center;
                    }
                  }

                  p {
                    color: #575757;
                    font-size: 16px
                  }

                  h5 {
                    color: #000000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    margin-left: 24px;
                  }
                }
              }
            }

            .btn-apply {
              background-color: #0d99ff;
              font-size: 17px;
              width: 100%;
              height: 45px;
              // margin-bottom: 0px;
              margin: 20px auto;

              // @include breakpoint(mobile) {
              //   display: none;
              // }

              // @include breakpoint(tablet) {
              //   display: none;
              // }
            }
          }

          @include breakpoint(tablet) {
            width: 100%;
          }

          @include breakpoint(mobile) {
            width: 100%;
            margin-left: 0px;
            margin-top: 30px;
            height: auto;
          }

          @include breakpoint(largeTablet) {
            margin-left: 15px;
            // max-width: 350px;
          }

          @include breakpoint(destop) {
            margin-left: 15px;
            // max-width: 350px;
          }
        }
      }

      .description-container {
        display: flex;
        justify-content: space-between;

        @include breakpoint(tablet) {
          flex-direction: column;
        }

        @include breakpoint(mobile) {
          flex-direction: column;
        }

        .div-description-mo {
          display: flex;
          height: auto;
          flex-direction: column;
          border-radius: 20px;
          width: 57%;

          @include breakpoint(tablet) {
            width: 100%;
          }

          @include breakpoint(mobile) {
            width: 100%;
          }

          .btn-for-mo {
            display: none;

            @include breakpoint(mobile) {
              display: block;
              background-color: #0d99ff;
              font-size: 17px;
              width: 90%;
              margin: 20px auto;
              height: 80px;
            }

            // @include breakpoint(tablet) {
            //   display: block;
            //   background-color: #0d99ff;
            //   font-size: 17px;
            //   width: 90%;
            //   margin: 20px auto;
            //   height: 60px;
            // }
          }

          .description {
            padding: 20px 0px;
            width: 100%;
            border-radius: 10px;

            .div-description-mo-bottom {
              display: flex;
              flex-direction: column;
              gap: 12px;

              .description-buttons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 24px;

                .description-button_previous,
                .description-button_next {
                  display: flex;
                  align-items: center;
                  width: 200px;
                  height: 40px;
                  border-radius: 8px;
                  color: black;
                  gap: 12px;

                  .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 24px;
                    width: 24px;
                    border-radius: 4px;
                    // background-color: black;
                  }

                  span {
                    font-size: 24px;
                    font-weight: 700;
                  }
                }

                .description-button_next {
                  justify-content: flex-end;

                  .icon {
                    transform: rotate(180deg);
                  }
                }
              }

              .description-post {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .anotherPost-container {
                  width: 318px;
                  height: 100px;
                  cursor: pointer;
                  transition: 0.2s linear all;

                  @media screen and (max-width: 700px) {
                    width: 45%;
                  }

                  @media screen and (max-width: 4250px) {
                    width: 45%;
                    height: fit-content;
                  }

                  &:hover {
                    transform: scale(1.025);
                  }

                  &:active {
                    transform: scale(0.9);
                  }

                  .anotherPost-content {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    @media screen and (max-width: 724px) {
                      flex-direction: column;
                    }

                    .anotherPost_image {
                      width: 94px !important;
                      height: 76px !important;
                      border-radius: 10px;
                      object-fit: cover;
                    }

                    .anotherPost_info {
                      width: 160px;

                      @media screen and (max-width: 724px) {
                        width: 100%;
                      }

                      .MuiTypography-h6 {
                        // white-space: normal !important;
                        // text-overflow: unset;
                        // overflow: unset !important;
                      }
                    }

                    .anotherPost_logo {
                      display: flex;
                      height: 100%;

                      .anotherPost_logo_image {
                        width: 24px;
                        height: 24px;
                        border-radius: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .div-suggest {
          width: 40%;
          padding-top: 10px;
          border-radius: 10px;
          height: auto;

          @include breakpoint(tablet) {
            width: 100%;
          }

          @include breakpoint(mobile) {
            width: 100%;
          }

          @include breakpoint(largeTablet) {
            margin-left: 15px;
            // max-width: 350px;
          }

          @include breakpoint(destop) {
            margin-left: 15px;
            // max-width: 350px;
          }

          .item {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            align-items: flex-start;

            @include breakpoint(tablet) {
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
}

.wrap-info_modalShare {
  .wrap-img_info {
    display: flex;
    align-items: center;
    margin-top: 12px;

    .wrap-img {
      width: 80px;
      height: 80px;
      border-radius: 12px;

      img {
        min-width: 80px;
        max-height: 80px;
        border-radius: 12px;

      }
    }
  }
}

.items-share {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 24px;

  .item-share {
    border: 1px solid #d3d2d2;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: #E7E7ED;
      transition: 0.3s linear all;
    }

    padding: 16px 20px;

    span {
      font-size: 20px;
    }

  }
}