@import '../../scss/mixins';
@import '../../scss/variable';

.detail {
  padding-top: 110px;

  @include breakpoint(tablet) {
    padding-top: 80px;
  }

  @include breakpoint(mobile) {
    padding-top: 80px;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 10px;
    padding: 0 180px;

    .top-title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 24px;
        font-weight: 700;
      }

      img {
        width: 32px;
        height: 32px;
      }
    }

    .mid-title {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;
      row-gap: 10px;

      .mid-title_companyName,
      .mid-title_companyAddress {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        column-gap: 10px;
        cursor: pointer;

        h3 {
          font-size: 16px;
          color: #0D99FF;
          font-weight: 400;
        }
      }
    }

    .bot-title {
      display: flex;
      justify-content: space-between;

      .bot-title-createdTime {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        column-gap: 10px;

        h3 {
          font-size: 16px;
          color: #AAAAAA;
          font-weight: 400;
        }
      }

      .bot-title-actions {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        column-gap: 15px;

        h3 {
          font-size: 16px;
          font-weight: 400;
          text-decoration: underline;
        }

        .share-job-icon {
          display: flex;
          align-items: center;
        }

        .save-job-icon {
          display: flex;
          align-items: center;
        }
      }
    }

    @include breakpoint(destop) {
      padding: 0 90px;
    }

    @media screen and (max-width: 1440px) {
      padding: 0 90px;
    }

    @media screen and (max-width: 1179px) {
      padding: 0 24px;
    }
  }

  .image-container {
    margin-top: 25px;
    height: 450px;
    padding: 0 180px;

    .box {
      width: 100%;
      height: 100%;

      div {
        max-width: 100% !important;
        max-height: 100% !important;

        .carousel-container {
          height: 450px !important;
          width: 100%;
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);

          .carousel-item {
            max-width: 100% !important;
            max-height: 100% !important;

            .slide-number {
              top: unset !important;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              background-color: #A9A9A9;
              border-radius: 8px;
              margin-bottom: 20px;
              color: #ffff !important;
            }
          }

          .prev,
          .next {
            display: none;
            font-size: 18px;
            width: 35px !important;
            height: 35px !important;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            text-align: center;
            line-height: 35px;
            border: 1px solid #ccc;
            color: #001424 !important;
            padding: 0 !important;
            margin-left: 7px;

            &:hover {
              background-color: #ffff;
              transform: scale(1.1);
            }

            &:active {
              transform: scale(0.8);
            }
          }

          .next {
            margin-left: unset;
            margin-right: 7px;
          }

          &:hover .prev {
            display: block;
          }

          &:hover .next {
            display: block;
          }

          .carousel-image {
            vertical-align: middle;
          }
        }
      }

      .thumbnails {
        position: sticky;
        margin-top: -170px;

        justify-content: center;

        .active-thumbnail {
          border: #0d99ff solid 3px;
        }
      }

      .thumbnail {
        margin: 0 5px;
        object-fit: cover;
        height: 100px;
        width: 120px;
        border: gray 0.5px solid;

        @include breakpoint(tablet) {
          height: 100px;
          width: 120px;
        }

        @include breakpoint(mobile) {
          height: 100%;
          width: 100%;
        }

        @media screen and (max-width: 500px) {
          height: 65px;
          max-width: 90px;
        }
      }
    }

    @include breakpoint(destop) {
      padding: 0 90px;
    }

    @media screen and (max-width: 1440px) {
      padding: 0 90px;
    }

    @media screen and (max-width: 1179px) {
      padding: 0 24px;
    }
  }

  .detail-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    height: 100%;
    padding: 0 180px;

    h3 {
      color: #001424;
    }

    .div-job-title {
      width: 30%;
      background-color: #f3f8fb;
      padding: 20px 20px;
      border-radius: 10px;
      // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      // border: 1px solid rgba(0, 0, 0, 0.12);
      // box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
      // height: 630px;

      .job-title-details {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        height: 100%;
        /* justify-content: space-around; */
        flex-wrap: nowrap;
        row-gap: 20px;

        @include breakpoint(tablet) {
          height: 85%;
          justify-content: space-evenly;
          max-height: 600px;
        }

        @include breakpoint(mobile) {
          height: auto;
        }

        .div-detail-row {
          display: flex;
          flex-direction: row;
          margin-top: 10px;

          p {
            color: #575757;
            font-size: 15px;
            margin-bottom: 5px;
          }

          h5 {
            color: #001424;
            font-size: 14px;
          }
        }
      }
    }

    .div-description-mo {
      display: flex;
      height: auto;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 20px;
      background-color: #f3f8fb;
      padding: 20px;
      width: 68%;

      .description {
        border-radius: 10px;

        // h3 {
        //   position: relative;

        //   &:after {
        //     content: "";
        //     position: absolute;
        //     bottom: -5px;
        //     height: 2px;
        //     width: 100%;
        //     left: 0;
        //     background: rgb(170, 170, 170);
        //   }
        // }
      }

      .btn-apply {
        background-color: #0d99ff;
        font-size: 17px;
        width: 90%;
        margin: 20px auto;
        height: 56px;
        margin-bottom: 0px;
      }
    }

    @include breakpoint(destop) {
      padding: 0 90px;
    }

    @media screen and (max-width: 1859px) {
      .div-job-title {
        width: 25%;
      }

      .div-description-mo {
        width: 72%;
      }
    }

    @media screen and (max-width: 1440px) {
      .div-job-title {
        width: 25%;
      }

      .div-description-mo {
        width: 72%;
      }
    }

    @media screen and (max-width: 1179px) {
      padding: 0 24px;

      .div-job-title {
        width: 21%;
      }

      .div-description-mo {
        width: 76%;
      }
    }

    @media screen and (max-width: 1024px) {
      padding: 0 24px;

      .div-job-title {
        width: 25%;
      }

      .div-description-mo {
        width: 71%;
      }
    }
  }

  .suggest-container {
    margin-top: 25px;
    padding: 25px 180px 70px;
    border-radius: 10px;
    height: auto;
    background-color: #F1F0F0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 25px;

    h3 {
      font-size: 24px;
      font-weight: 600;
      padding-left: 15px;
    }

    @include breakpoint(destop) {
      padding: 0 90px 70px;
    }

    @media screen and (max-width: 1440px) {
      padding: 0 90px 70px;
    }

    @media screen and (max-width: 1179px) {
      padding: 0 24px 70px;
    }
  }

  .div-include-breadcrumb {
    display: flex;
    justify-content: center;

    @include breakpoint(tablet) {
      justify-content: space-evenly;
    }

    @include breakpoint(mobile) {
      justify-content: space-evenly;
    }

    .job-breadcrumb {
      width: 75%;
      // text-align: center;
      margin-bottom: -10px;
      display: flex;
      justify-content: center;

      @include breakpoint(tablet) {
        width: 90% !important;
      }

      @include breakpoint(mobile) {
        width: 90% !important;
      }
    }
  }
}

.wrap-info_modalShare {
  .wrap-img_info {
    display: flex;
    align-items: center;
    margin-top: 12px;

    .wrap-img {
      width: 80px;
      height: 80px;
      border-radius: 12px;

      img {
        min-width: 80px;
        min-height: 80px;
        border-radius: 12px;

      }
    }
  }
}

.items-share {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 24px;

  .item-share {
    border: 1px solid #d3d2d2;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: #E7E7ED;
      transition: 0.3s linear all;
    }

    padding: 16px 20px;

    span {
      font-size: 20px;
    }

  }
}