.ant-cascader-menu-item-expand {
    .ant-cascader-checkbox {
        display: none;
    }

    &:has(.ant-cascader-checkbox-indeterminate) {
        color: #0d99ff;
    }

    &:has(.ant-cascader-checkbox-checked) {
        color: #0d99ff;
    }
}

.filter-loca-cate {

    @media screen and (max-width: 419px) {
        width: 320px;
        
    }

    @media screen and (min-width: 420px) and (max-width: 599px) {
        width: 400px;
    }

    @media screen and (min-width: 600px) and (max-width: 768px) {
        width: 550px;
    }

    @media screen and (min-width: 768px){
        width: 520px;
    }
    .ant-cascader-menus {
        .ant-cascader-menu {
            height: 285px !important;
        }
    }
}

.ant-select-dropdown:has(.filter-candidate){
    z-index: 8 !important;
}


.ant-select-dropdown {
    position: fixed;
}