.wrap-filter-hotjob {
    position: relative;
    width: 100%;

    .ant-select {
        .ant-select-selector {
            padding-inline-start: 32px !important;

            .ant-select-selection-item {
                font-size: 12px;
            }

            .ant-select-selection-placeholder {
                // padding-left: 24px;
                font-size: 12px;
            }
        }

        .ant-select-clear {
            right: 28px;
        }
    }
}