@import '/src/scss//mixins';

.wrap-EditTime_right {
  // display: flex;
  // flex-direction: column;
  // margin: 0 !important;
  // width: 30%;
}
.ant-space-item {
  // .MuiPickersLayout-actionBar {
  //   display: none !important;
  // }
  // .MuiTypography-overline {
  //   display: none;
  // }
  // .icon-time {
  //   @include breakpoint(mobile) {
  //     display: none;
  //   }
  //   @include breakpoint(tablet) {
  //     display: none;
  //   }
  // }
}

.wrap-editTime_left {

  .ant-space-item:nth-child(2) {
    min-width: 30% !important;
  
    .connect {
      transform: translateY(0%);
    }
  }
}


.wrap-EditTime_right {
  // padding-left: 16px;
}

.wrap-editTime_left {
  width: 100%;
  .ant-space-item {
    min-width: 30% !important;
    .MuiFormControl-root {
      width: 100%;
    }

    .MuiPickersLayout-actionBar {
      display: none !important;
    }

    .MuiTypography-overline {
      display: none;
    }

    .icon-time {
      @include breakpoint(mobile) {
        display: none;
      }

      @include breakpoint(tablet) {
        display: none;
      }
    }

    input {
      padding: 12px;
    }
    
  }
}

.MuiInputBase-input.MuiOutlinedInput-input.Mui-readOnly {
  padding: 12px;
  font-size: 14px;
}

.MuiDialogContent-root.css-9yjdhh-MuiDialogContent-root {
  height: 500px;
  font-size: 14px;
}


.wrap-time_left .ant-space-item {
  margin-top: 0.5rem;
}