.container-candidate {
    padding-top: 110px;
    .candidate {
        .header-candidate {

        };
        .search-candidate {

        };

        .list-candidates {
            .list-candidates_title {

            }

            .list-candidate {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                .item-candidate {

                }
            }
        };
    }

}