.post-history {
  margin-top: 70px;

  .post-history_main {
    padding: 50px 180px 0 180px;
    margin: 12px auto;

    .history-post_left {
      flex: 1;
      margin-top: 16px;
      height: fit-content;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 8px;
      padding: 16px 24px;
    }

    .history-post_right {
      flex: 3;
      margin: 0 12px;
    }
  }
}

.active-child {
  background-color: #AAAAAA;
  color: #ffffff;

  &:hover {
    background-color: #AAAAAA !important;
    color: #ffffff !important;
  }
}

// .ant-collapse-item.ant-collapse-item-active.history-left_item {
//   border-bottom: 1px solid #aaaaaa;
//   color: #000000 !important;
// }

// .ant-collapse-item-active .ant-collapse-header {
//   background: #ffffff !important;
//   color: #000000 !important;
// }

.ant-collapse-item-active {
  color: #000000 !important;
}

.ant-collapse-header {
  border-bottom: 1px solid #aaaaaa;
}

.history-left_item {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  .child-item {
    padding: 12px 12px 12px 48px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    // transition: all 0.1.5s linear;
  }
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-collapse-ghost>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {
  padding-block: 0;
  padding: 0;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-collapse>.ant-collapse-item>.ant-collapse-header {
  display: flex;
  align-items: center;
  padding: 0 12px;

  .ant-collapse-header-text {
    .panel-title_text {
      padding: 16px 12px;
    }
  }
}

.ant-collapse-item-active .ant-collapse-header {
  background-color: #ffffff;

  svg {
    color: #000000;
  }

  .ant-collapse-header-text {
    color: #000000;
  }
}

.ant-collapse .ant-collapse-item-active .ant-collapse-expand-icon svg,
.ant-collapse .ant-collapse-item-active .activeItem {
  color: #000000;
}

.ant-collapse-content {
  // margin-left: 12px;

  .ant-collapse-content-box {
    .child-item {
      margin: 4px 0;
    }

    .child-item:hover {
      background-color: #AAAAAA;
      transition: all 0.3s linear;
      color: #ffffff;
    }

    .active-child.child-item:hover {
      background-color: #AAAAAA;
      color: #ffffff;
    }
  }
}