.post-history {
  margin-top: 70px;
  .post-history_main {
    padding: 50px 180px;
    margin: 0 auto;
    transition: all l;
    margin-bottom: 36px;

    .history-post_left {
      flex: 1;
      margin-top: 16px;
    }

    .history-post_right {
      flex: 3;
      margin: 0 12px;
    }
  }
}

.active-child {
  background-color: #0d99ff;
}
