.filter-company {
    .ant-cascader-dropdown {
        .ant-cascader-checkbox {
            display: block !important;
        }
    }
}

.filter-cate-company {
    // width: 100%;

    .ant-cascader-menus {
        .ant-cascader-menu {
            height: 285px !important;
        }
    }
}

.wrap-search_cate {
    position: relative;
    width: 100%;

    .ant-select {
        .ant-select-selector {
            padding-inline-start: 32px !important;

            .ant-select-selection-item {
                font-size: 12px;
            }

            .ant-select-selection-placeholder {
                padding-left: 24px;
                font-size: 12px;
            }
        }

        .ant-select-clear {
            right: 28px;
        }
    }
}