.post {
  margin-top: 70px;
  .post-main {
    padding: 50px 180px;
    margin: 0 auto;
    transition: all l;
    margin-bottom: 36px;

    @media screen and (max-width: 1200px) {
      padding-inline: 10px;

      // @include breakpoint(tablet) {
      //   padding: 0 0px;
      // }

      // @include breakpoint(mobile) {
      //   padding: 0 20px;
      // }

      // @include breakpoint(largeTablet) {
      //   padding: 0 40px;
      // }

      // @include breakpoint(destop) {
      //   padding: 0 20px;
      // }
    }
    h1 {
      text-align: center;
      font-weight: 700;
      font-size: 32px;
      line-height: 24px;
      margin-bottom: 32px;
    }

    form {
      .post-address {
        display: flex;
        padding: 24px 0;
        flex-direction: column;
        .post-address_bottom,
        .post-address_top {
          gap: 32px;
          align-items: flex-end;
          display: flex;
          .post-title {
            flex: 1;
            display: flex;

            flex-direction: column;
            justify-content: flex-start;
          }
        }

        .post-address_bottom {
          padding-top: 24px;
        }
      }
      .post-jobCompany {
        display: flex;
        gap: 32px;

        .post-title {
          flex: 1;
        }
      }

      .PhoneInputInput {
        padding: 12px;
      }

      .btn-submitForm {
        margin-top: 24px;
        border-radius: 5px;
        align-items: center;
        width: 100%;
        background-color: #0d99ff;
        color: #ffffff;
        border: none;
        outline: none;
        padding: 16px;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        cursor: pointer;
      }
    }
  }
}

.Toastify {
  position: relative;
  bottom: 10%;
}

.Toastify__toast {
  display: 'flex';
}
