

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    margin-top: 0.5rem;
}

.MuiTypography-root.MuiTypography-body1.css-859bp7-MuiTypography-root{
    margin-top: 0.5rem;
}

.css-i44wyl{
    margin: 0.5rem 0 !important   
}

.EditRecruitmentTime {
    .ant-space-item {
        width: 30%;
        .wrap-editPost_time {
            display: flex;
            flex-direction: column;
        }
    }
}
