.div-apply-item {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
  .div-item-left {
    display: flex;
    flex-direction: row;
    .div-time-line {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .div-info-item {
      display: flex;
      flex-direction: column;

      p {
        color: #575757;
      }
    }
  }

  .div-item-right {
    display: flex;
    align-items: start;
  }
  .ant-space-align-center {
    align-items: start;
  }
}
