@import '../../../scss/variable';
@import '../../../scss/mixins';

.search-input-wrapper {
  position: relative;

  // .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root{
  //   color: red;
  // }

  .search-input-nav {
    width: 500px !important;


    @media screen and (min-width:1461px) and (max-width: 1540px) {
      width: 425px !important;
    }

    @media screen and (min-width:1351px) and (max-width: 1460px) {
      width: 350px !important;
    }

    @media screen and (min-width:1281px) and (max-width: 1350px) {
      width: 325px !important;
    }

    @media screen and (min-width:1151px) and (max-width: 1280px) {
      width: 350px !important;
    }

    @media screen and (min-width:1025px) and (max-width: 1150px) {
      width: 300px !important;
    }


    .ant-select-selector {
      background-color: white !important;
      padding: 0 11px;
      border-radius: 25px;
      height: 50px !important;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.08);

      .ant-select-selection-item {
        text-align: left;
      }

      span {
        padding: 0 50px !important;
        line-height: 50px !important;
      }
    }

    .ant-select-clear {
      margin-right: 50px;
    }
  }

  .search-input-wrapper-iconSearch {
    position: absolute;
    top: 10%;
    left: 0;
    height: 80%;
    padding: 7px !important;
    border-radius: 50px !important;
    margin-left: 5px !important;
    background: $primary-color;
    border: none;

    @media screen and (max-width: 1024px) {
      display: none !important;
    }
  }

  .search-input-wrapper-iconFilter {
    position: absolute;
    background: transparent;
    top: 10%;
    right: 0;
    height: 80%;
    padding: 11px !important;
    border-radius: 50px !important;
    margin-right: 5px !important;
    border: none;

    @media screen and (max-width: 1024px) {
      display: none !important;
    }
  }


}

.ant-select-clear {
  background-color: initial !important;
}

::placeholder {
  font-style: italic;
}

// search items
.items-search_keyword {
  h4 {
    margin-left: 4px;
    margin-top: 8px;
  }

  .wrap-items-search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .item-search {
      display: flex;
      align-items: center;
      border-radius: 12px;
      border: 1px solid #aaa;
      margin-left: 4px;
      margin-bottom: 4px;
      padding: 4px 8px;
      cursor: pointer;

      &:hover {
        background-color: #e4e5e6;
        transition: 0.3s all linear;
      }

      .item-search_text {
        padding: 4px 4px 4px 6px;

        // padding: 30px 16px;
        // padding-left: 4px;
      }
    }
  }
}