// @import '/src/scss//mixins';

.edit-post-category-drop {
    .ant-cascader-menu {
        height: 200px !important;
    }
}

.ant-select.ant-cascader.ant-select-lg.input-category-post.css-dev-only-do-not-override-yp8pcc.ant-select-multiple.ant-select-allow-clear.ant-select-show-arrow {
    margin-top: 0.5rem;
}

// .ant-select-multiple.ant-select-lg{
//     margin-top: 0.5rem;
// }


@media screen and (min-width: 509px) and (max-width: 769px) {
    .ant-select-selector {
        width: 490px;
    }

    .ant-select-arrow {
        display: none !important;
    }

}

@media screen and (max-width: 508px) {
    .ant-select-selector {
        width: 230px;
    }

    .ant-select-arrow {
        display: none !important;
    }

    .connect {
        display: none !important;
    }
}

.edit-cate_post {
    margin-top: 24px;

    :where(.css-dev-only-do-not-override-yp8pcc).ant-select-multiple.ant-select-lg .ant-select-selector {
        padding: 4px;
        border-radius: 4px;
    }

    .ant-select.ant-cascader {
        width: calc(60% + 16px);
    }

}

.edit-cate_post {

    .ant-select-dropdown.ant-cascader-dropdown {
        min-width: 30% !important;
        z-index: 0;
    }

    .ant-select-clear {
        margin-right: 20px;
    }
}