@import '/src/scss//mixins';

.ant-select-selector{
    margin-top: 0.5rem;
}

@media screen and (max-width: 1021px) and (min-width: 908px) {
    .ant-select-selector{
        width: 100%;
    }
    .ant-select-arrow
    {
        width: 40%;
    }
}

@media screen and (max-width: 907px) and (min-width: 752px) {
    .ant-select-selector{
        width: 260px;
    }
    .ant-select-arrow
    {
        width:65%;
    }
}

@media screen and (max-width: 751px) and (min-width: 678px){
    .ant-select-selector{

        width: 230px;
    }

    .ant-select-arrow
    {
        width: 62%;
    }

}

@media screen and (max-width: 677px){
    .ant-select-selector{

        width: 230px;
    }

    .anticon.anticon-down.ant-select-suffix {
        width: 310px !important;
    }

}


@media screen and (min-width: 1022px) {
    .ant-select-selector{
        width: 100%;
    }
    .ant-select-arrow
    {
        width: 1% !important;
    }
}

