// @import '/src/scss//mixins';

.ant-select.ant-cascader.ant-select-lg.input-category-post.css-dev-only-do-not-override-yp8pcc.ant-select-multiple.ant-select-allow-clear.ant-select-show-arrow {
    margin-top: 0.5rem;
}

// .ant-select-multiple.ant-select-lg{
//     margin-top: 0.5rem;
// }


@media screen and (min-width: 509px) and (max-width: 769px) {
    .ant-select-selector {
        width: 490px;
    }

    .ant-select-arrow {
        display: none !important;
    }

}

@media screen and (max-width: 508px) {
    .ant-select-selector {
        width: 230px;
    }

    .ant-select-arrow {
        display: none !important;
    }

    .connect {
        display: none !important;
    }
}