.create-cv-container {
    .create-cv-btn {
        // display: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        width: 60px !important;
        height: 60px !important;
        position: fixed;
        right: 24px;
        border-radius: 30px !important;
        background-color: #0d99ff;
        bottom: 260px;
        font-size: 24px !important;
        z-index: 5;
        transition: width 0.8s;

        // transition: all 0.5s ease-in-out;
        &:hover {
            width: 280px !important;
            background-color: #0d99ff;
            padding: 24px;
            gap: 16px;
        }

        &:hover h3 {
            width: fit-content;
        }

        h3 {
            width: 0;
            overflow: hidden;
            transition: width 0.8s;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            border-radius: 30px !important;
        }
    }
}