@import '../../scss/variable';
@import '../../scss/mixins';

.show-dropdown {
    position: fixed;
    top: 70px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.5);

    z-index: 9;
}

.category-dropdown-container {
    height: 76px;
    // box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.05);

    // @media screen and (max-width: 1280px) and (min-width: 1221px) {
    //     padding: 0 24px !important;
    // }

    // @media screen and (max-width: 1220px) and (min-width: 1201px) {
    //     padding: 0 24px !important;
    // }

    // @media screen and (max-width: 1200px) {
    //     padding: 0 20px !important;
    // }

    .category-dropdown-content {
        height: 100%;
        // max-width: 1280px !important;
        padding: 0 24px;
        display: flex;
        align-items: center;
        transition: all 400ms;
        margin: 0 auto;
        padding: 0 !important;
        gap: 32px;

        .category-dropdown-left {
            display: flex;
            align-items: center;
            gap: 12px;

            svg {
                stroke: #000000;
                cursor: pointer;
            }

            h3 {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 0em;
                text-align: left;
                cursor: pointer;
            }
        }

        .category-dropdown-line {
            height: 24px;
            width: 1px;
            background-color: #000000;

            @media screen and (max-width: 560px) {
                display: none;
            }
        }

        .category-dropdown-right {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 32px;

            @media screen and (max-width: 560px) {
                display: none;
            }

            h3 {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0em;
                text-align: left;
                color: #575757;
            }
        }
    }

    .category-dropdown-collapse {
        // max-width: 1080px;
        margin: 0 auto;
    }

    .category-dropdown-wraps {
        width: 100%;
        padding: 24px 36px;
        border-radius: 16px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        column-gap: 96px;
        row-gap: 16px;

        .category-dropdown-item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: fit-content;

            @media screen and (max-width: 425px) {
                width: 100%;
            }

            .top-item {
                display: flex;
                align-items: center;
                gap: 8px;
                pointer-events: none;

                @media screen and (max-width: 560px) {
                    cursor: pointer;
                    pointer-events: unset;
                }

                @media screen and (max-width: 425px) {
                    width: 100%;
                    justify-content: space-between;
                    pointer-events: unset;
                }

                h3 {
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                }
            }

            .bot-item {
                margin-top: 16px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;
                transition: height 400ms linear;

                h3 {
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0em;
                    text-align: left;
                    cursor: pointer;

                    &:hover {
                        font-weight: 500;
                    }
                }
            }
        }

        .ant-select-clear {
            margin-right: 25px;
        }

        // @include breakpoint(mobile) {
        //     display: none;
        // }

        // @include breakpoint(tablet) {
        //     display: none;
        // }

        .filter-wrap_bottom {
            display: flex;
            gap: 20px;
            height: 40px;

            @include breakpoint(mobile) {
                display: none;
            }

            @include breakpoint(tablet) {
                display: none;
            }
        }

        .filter-input {
            width: 100%;
            height: fit-content;
            position: relative;

            .filter-input_icon {
                position: absolute;
                z-index: 5;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                display: flex;

                @include breakpoint(mobile) {
                    top: 20px;
                }

                @include breakpoint(tablet) {
                    top: 20px;
                }

            }

            .ant-select-selector {
                padding: 1px 39px !important;

                @media screen and (max-width: 768px) {
                    width: 100%;
                }

                .ant-select-selection-placeholder {
                    inset-inline-start: 39px;
                    font-size: 12px;
                    color: #575757;
                    font-style: normal !important;
                }
            }

            .ant-collapse-header {
                padding-left: 39px !important;
                padding-right: 10px !important;
                display: flex;
                align-items: center;
            }
        }
    }

    .category-dropdown-wraps {
        // @media screen and (max-width: 768px) {
        //     display: none;
        // }
    }
}

.ant-dropdown {
    left: 319px !important;
    top: 145px !important;
    // max-width: 1280px;
    width: 1280px;
    position: fixed;
}