.hot-job-page-container {
    margin: 100px 180px;

    .hot-job-title-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 12px;

        h3 {
            font-size: 32px;
            font-weight: 700;
        }

        h4 {
            font-size: 24px;
            font-weight: 700;

            span {
                font-weight: 400;
            }
        }
    }
}