@import '../../scss//mixins';

@include breakpoint(tablet) {
  .css-yp5qt0 {
    visibility: hidden
  }
}

.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // padding-top: 20px;
  // padding-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
  padding: 20px 180px 0;

  @media screen and (max-width: 1280px) {
    padding: 20px 24px 0;
  }

  @include breakpoint(mobile) {
    flex-wrap: wrap-reverse;
    border-bottom: 0px solid #dcdcdc;
    padding-bottom: 0px;
    border-top: 0px;
    padding-top: 0px;
  }

  @include breakpoint(tablet) {
    flex-wrap: wrap-reverse;
    border-bottom: 0px solid #dcdcdc;
    padding-bottom: 0px;
  }
}

.footer-left {
  flex-direction: column;

  & h3 {
    color: #0d99ff;
    margin-bottom: 10px;

    @include breakpoint(mobile) {
      text-align: center;
      //  margin-top: 10px;
    }

    @include breakpoint(tablet) {
      text-align: center;
      //margin-top: 10px;
    }
  }

  & p {
    font-style: normal;
    color: #575757;
    font-size: 13px;
    margin-bottom: 5px;

    @include breakpoint(mobile) {
      text-align: center;
      font-size: 13px;
    }

    @include breakpoint(tablet) {
      text-align: center;
      font-size: 14px;
    }
  }

  @include breakpoint(mobile) {
    justify-content: center;

    display: flex;
    align-items: center;
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid #dcdcdc;
  }

  @include breakpoint(tablet) {
    justify-content: center;

    display: flex;
    align-items: center;
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid #dcdcdc;
  }
}

.footer-left>img {
  height: 100px;
  width: 100px;
  @include breakpoint(mobile) {
    height: 80px;
    width: 80px;
  }

  @include breakpoint(tablet) {
    height: 100px;
    width: 100px;
  }
}

.footer-center {
  display: flex;
  flex-direction: column;

  & h4 {
    color: #0d99ff;
    margin-bottom: 20px;
  }

  & a {
    font-style: normal;
    color: #575757;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .link-facebook {
    display: flex;
    align-items: center;
    gap: 8px;

    a {
      margin-bottom: 0;
    }
  }

  @include breakpoint(mobile) {
    display: none;
  }

  @include breakpoint(tablet) {
    display: none;
  }
}

.right-top {
  margin-bottom: 20px;

  & h4 {
    color: #0d99ff;
    margin-bottom: 10px;
  }

  @include breakpoint(mobile) {
    width: 60%;
    padding-left: 10px;
  }

  @include breakpoint(tablet) {
    width: 60%;
    padding-left: 10px;
  }
}

.right-top .div-img-footer {
  display: flex;
  flex-direction: row;
}

.div-img-footer>img {
  height: auto;
  max-width: 100%;
  width: 124px;
  height: 124px;

  @include breakpoint(mobile) {
    height: 0px;
    width: 0px;
  }

  @include breakpoint(tablet) {
    height: 0px;
    width: 0px;

  }
}

.div-link-app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  // margin-left: 20px;
  @include breakpoint(mobile) {
    flex-direction: column;
    width: 80%;
  }

  @include breakpoint(tablet) {
    flex-direction: column;
  }
}

.div-link-app>a>img {
  height: 35px;
  width: auto;
  width: 114px;

  @include breakpoint(mobile) {
    //height: 35px;
    //width: 70px;
    height: 35px;
    width: 120px;
  }

  @include breakpoint(tablet) {
    height: 35px;
    width: 120px;
  }
}

#div-img-socal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin-top: 10px;

  @include breakpoint(mobile) {
    width: 100%;
  }

  @include breakpoint(tablet) {
    width: 100%;
  }
}

#div-img-socal>a>img {
  height: 35px;
  width: 35px;
  border-radius: 5px;

  @include breakpoint(mobile) {
    margin-right: 10px;
    border-radius: 5px;
  }

  @include breakpoint(tablet) {
    margin-right: 30px;
    border-radius: 5px;
    height: 45px;
    width: 45px;
  }
}

.div-socal-link {
  display: none;

  @include breakpoint(mobile) {
    display: block;
  }

  @include breakpoint(tablet) {
    display: block;
  }
}

#div-policy-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 180px;

  @media screen and (min-width: 1220px) and (max-width: 1280px) {
    padding: 10px 24px;
  }

  @media screen and (min-width: 767px) and (max-width: 1219px) {
    padding: 10px 24px;
  }

  @include breakpoint(mobile) {
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0px;
    justify-content: center;
  }

  @include breakpoint(tablet) {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
}

#div-policy-footer>a>p {
  font-size: 12px;
  color: #0d99ff;
  text-decoration: underline;

  @include breakpoint(mobile) {
    font-size: 15px;
  }

  @include breakpoint(tablet) {
    font-size: 15px;
  }
}

#div-policy-footer-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;

  & p {
    font-size: 12px;

    @include breakpoint(mobile) {
      font-size: 13px;
      margin-top: 5px;
    }

    @include breakpoint(tablet) {
      font-size: 14px;
      margin-top: 5px;
    }
  }

  @include breakpoint(mobile) {
    flex-wrap: wrap-reverse;
    width: 100%;
    justify-content: center;
  }

  @include breakpoint(tablet) {
    flex-wrap: wrap-reverse;
    width: 100%;
    justify-content: center;
  }
}

.footer-right {
  @include breakpoint(mobile) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    //////
    position: sticky;
    // margin-top: 60px;
    padding-top: 10px;
    border-top: 1px solid #dcdcdc;
  }

  @include breakpoint(tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    ///
  }
}