.instructionsCv {
    margin-top: 100px;
    padding: 24px 0 50px 0;

    .instructionCv-container {
        max-width: 1080px;
        margin: 0 auto;
        .instructionCv-container_top {
            display: flex;
            gap: 90px;
            .container-top_content {
                .top-content_title {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    
                    h3 {
                        font-family: Roboto;
                        font-size: 42px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 60px; /* 142.857% */
                        text-wrap: nowrap;
                    }
                }

                p {
                    font-family: Roboto;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 36px; /* 150% */
                }
            }

            .content-top_img {
                img {
                    max-width: 436px;;
                }
            }
        }

        .instructionCv-container_bottom {
            display: flex;
            gap: 92px;
            .container_bottom-list {
                width: 344px;
                .list-items_ins {
                    .title-items_ins {
                        background-color: #0d99ff ;
                        width: 344px;
                        height: 84px;
                        border-radius: 16px 16px 0px 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        h3 {
                            color: #ffffff;
                            font-family: Roboto;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 36px; /* 150% */
                        }
                    }

                    .items-ins {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        box-shadow: 1px 1px 5px #ccc;
                        border-radius: 0 0 16px 16px;
                        padding: 24px 12px 24px 12px;
                        .item-ins {
                            font-family: Roboto;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 30px; /* 150% */
                            list-style: none;
                            cursor: pointer;
                        }

                        .item-ins.active {
                            color: #0d99ff;
                        }
                    }
                }
            }

            .container_bottom-content {
                .wrap-bottom_content {
                    .bottom_content_title {
                        font-size: 24px;
                    }

                    .bottom-content_items {
                        h3 {
                            margin: 24px 0;
                            font-size: 20px;
                        }
                        li {
                            list-style: none;
                            .bottom-content_item {
                                h4 {
                                    margin: 20px 0px;
                                }
                                li {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}