.wrapper-time-day {
  .wrapTimeDay {
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
      padding: 12px;
    }
  }

  .ant-space-item {
    min-width: 30%;
  }

  .ant-space-item:nth-child(2) {
    min-width: unset !important;

    .connect {
      transform: translateY(50%);
    }
  }
}