.influencer-card {
    padding: 0 !important;

    .div-influencer-card-top {
        .MuiImageListItem-img {
            width: 100% !important;
            height: 300px !important;
            border-radius: 8px;
        }
    }

    .div-influencer-card-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 12px;

        .div-influencer-card-bottom_left {
            width: 85%;

            // .MuiTypography-h6 {
            //     white-space: unset !important;
            //     text-overflow: unset !important;
            //     overflow: unset !important;
            //     word-break: break-word;
            // }
        }

        .div-influencer-card-bottom_right {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
}