.container_tiktok {
    height: calc(100vh - 70px - 40px);
    max-width: 1080px;
    margin: 70px auto 0px;
    transition: all linear 0.2s;

        .content_tiktok {
            height: calc(100vh - 70px - 40px);
            &__items {
                height: 100%;
                &__video {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
              
                    .wrap_video {
                        position: relative;
                        .video {
                            background-color: black;
                            border-radius: 12px;
                            position: relative;
                        }
                        display: flex;
                        justify-content: center;
                        
                        #custom_controls {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            padding: 5px;
                            background-color: rgba($color: #000000, $alpha: 0.3);
                            border-bottom-left-radius: 12px;
                            border-bottom-right-radius: 12px;
                            height: 40px;
                            #play_pause {
                                color: white;
                                cursor: pointer;
                                margin: 0 0px 0 10px;
                                display: flex;
                                align-items: center;
                            }
    
                            #progress_bar_container {
                                flex: 1;
                                display: flex;
                                align-items: center;
                                padding: 0 10px;
                                #progress_bar {
                                    width: 100%;
                                    height: 2px;
                                    background-color: #333;
                                    position: relative;
                                    .progress {
                                        height: 100%;
                                        width: 0;
                                        background-color: #fff;
                                      }
                                  }
                            }
    
                            
                            #volume_control {
                                margin-left: 0px;
                                color: white;
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        
    }
}