$primary-color: #0d99ff;
$text-color: #000000;
$text-footer-color: #001424;
$gray-border-btn: #aaaaaa;
$gray-border-category: #dcdcdc;
$primary-hover-color: #e8f5ff;
$white: #ffffff;
$btn-coin: #fbbc04;
$btn-hover-dark: #badefa;
$btn-hover: #e8f5ff;
$modal-color: rgba(0, 0, 0, 0.4);
