@import '../../scss/mixins';

.profile-cv-container {
    // margin-top: 70px;
    margin: 70px auto;

    .profile-cv-content {
        padding: 50px 0 30px;
        margin: 12px auto;
        max-width: 1080px;

        @media screen and (max-width: 1130px) {
            margin: 12px 24px;
        }

        .profile-cv-title {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
            gap: 10px;

            @include breakpoint(mobile) {
                // flex-direction: column;
            }

            .profile-cv-title_left {
                display: flex;
                align-items: center;
                gap: 4px;

                p {
                    font-family: Roboto;
                    font-size: 24px;
                    font-weight: 400;
                    letter-spacing: 0em;
                }

                h3 {
                    font-family: Roboto;
                    font-size: 24px;
                    font-weight: 700;
                    letter-spacing: 0em;
                }
            }

            .profile-cv-title_right {

                .ant-btn {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 0em;
                    padding: 12px 24px;
                    gap: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 52px;
                    flex-shrink: 0;
                    border-radius: 37px;
                    background: rgba(37, 37, 37, 1);
                    transition: all 0.3 linear;

                    &:hover {
                        transform: scale(1.1);
                    }

                    &:active {
                        transform: scale(0.9);
                    }
                }
            }
        }

        .profile-cv-list {
            .cv-item {
                width: 436px;
                height: 264px;
                display: flex;
                align-items: center;
                gap: 24px;
                justify-content: space-between;

                @include breakpoint(mobile) {
                    width: 100%;
                    gap: 10px;
                }

                .cv-item_left {
                    height: 100%;

                    @include breakpoint(mobile) {
                        flex: 1;
                    }

                    .ant-avatar {
                        width: 186px;
                        height: 100%;
                        display: grid;
                        place-items: center;
                        border: 1px solid rgba(37, 37, 37, 1);

                        @include breakpoint(mobile) {
                            width: 100%;
                        }
                    }
                }

                .cv-item_right {
                    height: 100%;

                    @include breakpoint(mobile) {
                        flex: 1;
                    }

                    .cv-item_right__title {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        align-items: flex-start;
                        justify-content: space-between;

                        @include breakpoint(mobile) {
                            gap: 4px;
                        }

                        h3 {
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 500;
                            letter-spacing: 0em;
                            text-align: left;
                        }

                        p {
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: 400;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #AAAAAA;

                        }
                    }

                    .cv-item_right__actions {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-between;
                        gap: 16px;
                        margin-top: 16px;

                        @include breakpoint(mobile) {
                            gap: 8px;
                            margin-top: 8px;
                        }

                        .action-item {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            cursor: pointer;

                            p {
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 24px;
                                letter-spacing: 0em;
                                text-align: left;
                            }

                            &:hover {
                                color: #0D99FF;
                            }

                            &:last-child {
                                &:hover {
                                    color: #D80000;
                                }
                            }

                            &:first-child {
                                .action-icon {
                                    width: 24px;
                                    height: 24px;
                                    border-radius: 50%;
                                    border: 1px solid #000000;
                                    display: grid;
                                    place-items: center;
                                    background: #FFFFFF;
                                }

                                .selected {
                                    border: none;
                                    background: #0D99FF;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}