@import '../../../scss/mixins';

.col_left__itemsChart {
    svg {
        height: 40px;
        width: 40px;
        @include breakpoint(mobile){
            height: 30px;
            width: 30px;
        }
    }
}