@import '../../../scss/mixins';

.col_left__itemsChart {
    height: 40px;
    width: 40px;
    svg {
        @include breakpoint(mobile){
            height: 30px;
            width: 30px;
        }
    }
}