.cv-item-container {
  @media screen and (max-width: 360px) {
    flex-direction: column;
    align-items: flex-start;

    .cv-item {
      .ant-space-item {
        width: fit-content !important;

      }
    }

    .ant-space-item {
      width: 100%;

      svg {
        color: #575757;
      }
    }
  }

  cursor: pointer;

  .icon-remove {
    color: #575757;
    padding: 4px;
    border-radius: 5px;

    &:hover svg {
      // background-color: #f1f0f0;
      color: #D80000;
    }

    cursor: pointer;
  }
}