@import '../../../../scss/variable';

.links__item-dropdown {
  .wrap-history__nav {
    position: absolute;
    top: 68px;
    left: -50%;
    background-color: $white;
    box-shadow: 1px 1px 5px $text-color;
    padding: 20px 30px;
    border-radius: 20px;
    display: none;
    ul {
      li {
        list-style-type: none;
        padding: 8px 6px;
        margin: 4px 0;
        width: 190px;
        &:hover {
          background-color: $btn-hover;
          transition: all 0.3s linear;
        }
        a {
          width: 100%;
          font-size: 14px;
        }
      }
    }

    ul::before {
      content: '';
      position: absolute;
      top: -22px; /* điều chỉnh vị trí đặt phần tử ::before lên trên */
      left: 0;
      width: 100%;
      height: 22px; /* chiều cao của viền */
      background-color: transparent;
    }
  }
  &:hover {
    .wrap-history__nav {
      display: flex;
    }
  }
}
