@import '../../../scss/mixins';

.tabs {
  display: flex;
  align-items: center;
  transition: all 400ms;
  max-width: 1280px !important;
  margin: 0 auto;
  padding: 0 !important;
  box-shadow: 10px 0px 0px rgb(255, 255, 255), -10px -10px 0px rgb(255, 255, 255);
  // box-shadow: 0px -5px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
  @media screen and (max-width: 1280px) and (min-width: 1221px) {
    padding: 0 24px !important;
  }

  @media screen and (max-width: 1220px) and (min-width: 1201px) {
    padding: 0 24px !important;
  }

  @media screen and (max-width: 1200px) {
    padding: 0 20px !important;
  }

  .mySwiper {
    z-index: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;


    .swiper-wrapper {
      .swiper-slide {
        // width: fit-content !important;
        padding: 12px 0px;
        cursor: pointer;
        height: unset !important;

        // &:hover {
        //   background-color: rgba(0, 0, 0, 0.1);
        // }

        .slide-item {
          position: relative;

          .div-info-themes-item {
            margin-top: -55px;
            position: absolute;
            text-align: center;
            color: white;
          }
        }
      }

      // .swiper-slide-clicked {
      //   border-bottom: 2px solid #0d99ff !important;
      //   background-color: rgba(0, 0, 0, 0.1) !important;
      // }
    }

    .swiper-button-prev,
    .swiper-button-next {
      width: 40px !important;
      height: 100% !important;
      top: 0 !important;
      margin-top: 0 !important;
      background-color: transparent;

      &:hover {

        &:after {
          transform: scale(1.1);
        }

        &:active {
          &:after {
            transform: scale(0.7);
          }
        }
      }

      &:after {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        color: #000;
        font-size: 18px;
        height: 30px;
        width: 10px;
        line-height: 30px;
        padding: 0px 10px;
        transition: 0.3s linear all;
      }

      @include breakpoint(mobile) {
        &:after {
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 50%;
          color: #000;
          font-size: 10px;
          height: 24px;
          width: 4px;
          line-height: 24px;
          padding: 0px 10px;
          transition: 0.3s linear all;
        }
      }
    }

    .swiper-button-prev {
      left: 0;
      background: linear-gradient(90deg, #FFFFFF 41.41%, rgba(255, 255, 255, 0.68) 94.4%);

      @include breakpoint(mobile) {
        background: none;
      }

      @include breakpoint(tablet) {
        background: none;
      }
    }

    .swiper-button-next {
      background: linear-gradient(270deg, #FFFFFF 41.41%, rgba(255, 255, 255, 0.68) 94.4%);
      right: 0;

      @include breakpoint(mobile) {
        background: none;
      }

      @include breakpoint(tablet) {
        background: none;
      }
    }

    .swiper-button-disabled {
      display: none !important;
    }

  }

  // .MuiTabScrollButton-horizontal {}

  .MuiTabs-scrollButtons {
    display: flex;
    align-items: center;

    svg {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-size: 50px;
      border: 1px solid #ccc;
    }
  }

  .MuiButtonBase-root {
    // border-bottom: 1px solid #dcdcdc;
    flex: 1;
    min-width: 100px;
  }

  .MuiTabs-scrollButtons {
    @include breakpoint(mobile) {
      display: none;
    }
  }

  .cateloryItemFilter {
    // position: relative;
    // overflow-x: hidden;
    // display: flex;
    // align-items: center;

    //   &::-webkit-scrollbar {
    //     height: 8px;
    //   }

    //   &::-webkit-scrollbar-track {
    //     background: transparent;
    //   }

    //   &::-webkit-scrollbar-thumb {
    //     background: #ccc;
    //     border-radius: 4px;
    //   }

    //   &::-webkit-scrollbar-thumb:hover {
    //     background: #aaa;
    //   }

    .MuiTabs-flexContainer {
      flex-wrap: nowrap;
      gap: 10px;

      .MuiButtonBase-root {
        border-bottom: none;
      }
    }

    .MuiTabs-scrollButtons {

      &:last-child,
      &:first-child {
        position: absolute;
        // background-color: red;
        height: 132px;
        min-width: 44px;
        z-index: 1;
        // background-color: rgba(0, 0, 0, 0.1);
        // &:hover {
        //   background-color: #AAAAAA;
        // }
      }

      &:last-child {

        right: 0;


      }

      &:first-child {
        left: 0;
      }
    }

    .Mui-selected {
      background-color: #e5e5e5;
    }
  }
}

.home {
  .MuiBox-root {
    @media screen and (min-width: 0px) and (max-width: 1200px) {
      max-width: 100%;
      margin: 0px 10px;
    }

    @media screen and (min-width: 600px) {
      max-width: 100%;
    }

    @media screen and (min-width: 0px) {
      max-width: 100%;
    }
  }

  // .MuiStack-root {
  // @media screen and (max-width: 1280px) and (min-width: 1221px) {
  //   left: 24px !important;
  //   right: 24px !important;
  // }

  // @media screen and (max-width: 1220px) and (min-width: 1201px) {
  //   left: 10px !important;
  //   right: 10px !important;
  // }

  // @media screen and (max-width: 1200px) {
  //   left: 20px !important;
  //   right: 20px !important;
  // }

  // @include breakpoint(mobile) {
  //   // margin-top: 218px !important;
  // }
  // }
}

.slick-slider {
  width: 100%;
  overflow: hidden;
}

.slick-list {
  position: relative;
  display: block !important;
  width: 100%;
}

.slick-slide div {
  width: auto;
  margin-right: 10px;
}

.slick-slide img {
  width: calc(100% - 10px) !important;
}

/* For the demo */
.slick-prev,
.slick-next {
  z-index: 999 !important;
}

.slick-prev {
  left: 25px !important;
}

.slick-next {
  right: 25px !important;
}


@media screen and (max-width: 597px) {
  .img-category {
    width: 35px !important;
    height: 35px !important;
  }

  .css-7r6yzn-MuiButtonBase-root-MuiTab-root {
    padding: 10px 10px !important;
  }

  .css-4npvne-MuiStack-root {
    margin-top: 202px !important;
  }

  .tabs .cateloryItemFilter .MuiTabs-flexContainer {
    gap: 0px !important;
  }

  .tabs .MuiButtonBase-root {
    min-width: none !important;
  }

  .MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected.css-7r6yzn-MuiButtonBase-root-MuiTab-root {
    height: 99px !important;
  }

  .MuiTabs-scroller.MuiTabs-hideScrollbar.MuiTabs-scrollableX.css-69z67c-MuiTabs-scroller {
    height: 100px !important;
  }

  .title-categoryItem {
    font-size: 9px !important;
  }

  .tabs .cateloryItemFilter .MuiTabs-scrollButtons:last-child,
  .tabs .cateloryItemFilter .MuiTabs-scrollButtons:first-child {
    height: 100px !important;
  }

}