@import '../../../scss/mixins';

.tabs {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1281px) {
    margin: 0 !important;
  }

  .MuiTabScrollButton-horizontal {}

  .MuiTabs-scrollButtons {
    display: flex;
    align-items: center;

    svg {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-size: 50px;
      border: 1px solid #ccc;
    }
  }

  .MuiButtonBase-root {
    border-bottom: 1px solid #dcdcdc;
    flex: 1;
    min-width: 100px;
  }

  .MuiTabs-scrollButtons {
    @include breakpoint(mobile) {
      display: none;
    }
  }

  .cateloryItemFilter {
    // position: relative;
    // overflow-x: hidden;
    // display: flex;
    // align-items: center;

    //   &::-webkit-scrollbar {
    //     height: 8px;
    //   }

    //   &::-webkit-scrollbar-track {
    //     background: transparent;
    //   }

    //   &::-webkit-scrollbar-thumb {
    //     background: #ccc;
    //     border-radius: 4px;
    //   }

    //   &::-webkit-scrollbar-thumb:hover {
    //     background: #aaa;
    //   }
    .MuiTabs-scrollButtons {

      &:last-child,
      &:first-child {
        position: absolute;
        // background-color: red;
        height: 132px;
        min-width: 44px;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.1);
        // &:hover {
        //   background-color: #AAAAAA;
        // }
      }

      &:last-child {

        right: 0;


      }

      &:first-child {
        left: 0;
      }
    }

    .Mui-selected {
      background-color: #e5e5e5;
    }
  }
}

.home {
  .MuiBox-root {
    @media screen and (min-width: 0px) and (max-width: 1200px) {
      max-width: 100%;
      margin: 0px 10px;
    }

    @media screen and (min-width: 600px) {
      max-width: 100%;
    }

    @media screen and (min-width: 0px) {
      max-width: 100%;
    }
  }

  .MuiStack-root {
    @media screen and (max-width: 1281px) {
      left: 0 !important;
      right: 0 !important;
    }
  }
}