.not-found {
    .notFound-page {
        // margin-top: 71px;
        margin-top: 146px;
        padding: 24px 0;
        text-align: center;

        strong {
            font-size: 32px;
        }

    }
}