@import '/src/scss//mixins';

.wrap-time_right {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  width: 30%;
}

.wrap-time_left {

  .ant-space-item {
    min-width: 30%;
  
    .MuiFormControl-root {
      width: 100%;
    }
    .MuiPickersLayout-actionBar {
      display: none !important;
    }
    .MuiTypography-overline {
      display: none;
    }
    .icon-time {
      @include breakpoint(mobile) {
        display: none;
      }
      @include breakpoint(tablet) {
        display: none;
      }
    }
  
    input {
      padding: 12px;
    }
  }
}

.wrap-time_right {
  padding-left: 16px;
}

.MuiInputBase-input.MuiOutlinedInput-input.Mui-readOnly {
  padding: 12px;
}

.MuiDialogContent-root.css-9yjdhh-MuiDialogContent-root {
  height: 500px;
}
