@import '/src/scss//mixins';

.wrap-time_right {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  width: 30%;
}
.ant-space-item {
  .MuiPickersLayout-actionBar {
    display: none !important;
  }
  .MuiTypography-overline {
    display: none;
  }
  .icon-time {
    @include breakpoint(mobile) {
      display: none;
    }
    @include breakpoint(tablet) {
      display: none;
    }
  }
}

.wrap-time_right {
  padding-left: 16px;
}

.MuiInputBase-input.MuiOutlinedInput-input.Mui-readOnly {
  padding: 12px;
}

.MuiDialogContent-root.css-9yjdhh-MuiDialogContent-root {
  height: 500px;
}
